#e-agreement-page > .navbar {

    top: 0;
    margin-top: 0;
    min-height: 50px;
}

#e-agreement-page .gray-underline{

	border-bottom: 1px solid #ccc !important;
	 
}

#e-agreement-page label.btn-default.active{
	
	color: #fff;
	background: #00c5b4;
}

#e-agreement-page > .navbar .logotype{

	position: fixed;
	margin-top: -10px;

}

#e-agreement-page .print-btn-panel{
	
	position: absolute;
	right: 20px;
	top: 5px;
	color: #fff;
	font-size: 24px;
	cursor: pointer;

	
}

#e-agreement-page .date-field{
	
	width: 150px;
	float: left;
	margin-right: 5px;
	
}

#e-agreement-page .short-field{
	
	width: 150px;
	
}

#e-agreement-page h1.label-top {

  font-size: 24px;
  color:#222;
  margin-top: 220px;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  line-height: 30px;
  position: relative;
}

#e-agreement-page .form-control{

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #eff5f5;
	border: none;
	border-bottom: 1px solid #bacccc;
	box-shadow: none;
	font-size: 13px;
	
}

#e-agreement-page h3,
#e-agreement-page h4 {

	text-indent: 30px;

}

#e-agreement-page .note-block {
  width: 68%;
  margin: 0 auto;
}

#e-agreement-page p{
  text-indent: 30px;
}

#e-agreement-page p.note {
  font-size: 14px;
  color:#222;

}
#e-agreement-page p.note-1 {
  font-size: 14px;
  color:#222;

}
#e-agreement-page p.note label {
  width:5%
}
#e-agreement-page p.note-1 label {
  width:3.5%
}
#e-agreement-page label.space {
  width: 8%
}
#e-agreement-page p.note a {
  text-decoration: underline;
  color:#222
}
#e-agreement-page .block {
  width: 68%;
  margin: 0 auto;
}
#e-agreement-page .block h1 {
  font-size: 18px;
  color:#222;
  font-weight: normal;
  padding-bottom:40px;
  padding-left: 32px;

}
#e-agreement-page .block table tr td p {
  padding-top: 8px
}
#e-agreement-page .block-2 h1 {
  padding-bottom:0;
}
#e-agreement-page .block .col-md-4 {
  vertical-align: middle;
}
#e-agreement-page .block .first {
  width:23.333%;
  padding-top: 6px
}
#e-agreement-page .block .first label,
#e-agreement-page .block .fourth span,
#e-agreement-page .block .no-padding span.nrc {
  font-size: 14px;
  color:#222;
  font-weight: 300;
}
#e-agreement-page .block .second {
  width:38.333%;
}
#e-agreement-page .block .third {
  width:76.333%;
}
#e-agreement-page .block .fourth {
  padding-top: 6px
}
#e-agreement-page .block .no-padding {
  width:38.333%;
}


#e-agreement-page div > table {

  margin-left: 10px;
  
}

#e-agreement-page div > label {

  font-size: 13px;
  
}


#e-agreement-page .block .no-padding table tr  {
  border-top: 0!important;
  margin-bottom: 0!important;
  padding:0!important
}
#e-agreement-page .block .no-padding table tr td {
  border-top: 0!important;
  margin-bottom: 0!important;
  padding:0!important
}
#e-agreement-page .block .no-padding table tr td span.nrc {
  vertical-align: middle;
  padding-top: 10px;
  line-height: 36px
}
#e-agreement-page .block-1 {

}

#e-agreement-page .block input {
  background:#eff5f5;
  border:0;
  border-bottom: 1px solid #bacccc!important;
  border-radius: 0;
  box-shadow: none;
}

#e-agreement-page input:focus {
  outline: none;
  box-shadow:none !important;
}

#e-agreement-page span.info {

  font-size: 11px;
  color:#7a9393;
  font-style: italic;


}

#e-agreement-page .bg-yellow {
  background:#ffeea8!important
}

#e-agreement-page .block-3-input {

  background:none!important;
  width: 45.33%!important;
  display: inline!important;
  font-size: 12px!important;
  color:#7a9393!important;
  font-weight: normal;
  text-align: center;
  
}

#e-agreement-page .block-5 .block-5-input {

  background:#eff5f5!important;
  width: 45.33%!important;
  display: inline!important;
  color:#7a9393!important;
  font-weight: normal;
  margin-left: 12px
  
}

#e-agreement-page .block-6 table {
  margin:0;
  padding: 0
}

#e-agreement-page .block-6 table tr td {

  border-top: 0!important;
  padding: 0;
  vertical-align: middle!important;
  font-size: 14px;
  color: #222;
  
}

#e-agreement-page .block-6 .bg-yellow {
  height:50px
}

#e-agreement-page h1.inner-label {
  font-family: 'open_sansregular';
  font-size: 14px!important;
  color:#222;
  font-weight: normal;
  padding-left: 52px;
  padding-top: 16px
}

#e-agreement-page p.note-2 {
  padding-top: 18px
}

#e-agreement-page p.note-2 label {
  width: 6%
}

#e-agreement-page .block-12 .note-1 {
  padding-top: 8px
}

#e-agreement-page .block-12 a {
  color:#222;
  text-decoration: underline;
}

#e-agreement-page .block-12 .bg-yellow {
  background:#eff5f5 !important
}

#e-agreement-page .block-12 .p-bottom {
  padding-bottom: 20px
}

#e-agreement-page .inner-space {
  width:5%;
  display: block;
}

#e-agreement-page .bg-yellow-1 {
  background:#ffeea8!important
}

#e-agreement-page  .bottom-block {
  background:#eff5f5;
  margin-top: 60px
}

#e-agreement-page  .bottom-block h1 {
  padding-bottom: 0;
  padding-left: 0
}

#e-agreement-page  .bottom-block h2 {
  font-family: 'open_sanslight';
  font-size: 13px;
  color: #222;
  background:#ffd3ca;
  border-bottom: 1px solid #bacccc;
  padding:10px;
  line-height: 24px;
}

#e-agreement-page  .bottom-block .note-2 {
  padding-bottom: 92px;
}

#e-agreement-page .bottom-block a {
  color:#222;
  text-decoration: underline;
}

#e-agreement-page .last-block {
  margin-top:34px;
}

#e-agreement-page .block-7 p.note-1 {
  padding-top:10px
 
}

#e-agreement-page .prompt{

	display: inline;
	vertical-align: text-top;
	background: #dfe7eb;
	font-size: 8px;
	color: #222;	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 2px 5px;
	margin-right: 5px;
	cursor: pointer;
	
}

#e-agreement-page .prompt i{

	padding-bottom: 10px;
	line-height: 20px;
	
}



#e-agreement-page .popover{

	position: fixed !important;
	top: 50px !important;
	left: 0 !important;
	width: 100% !important;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	max-width: 100% !important;
	margin: 0 !important;
	border: 0 !important;
	background: #fff4c4 !important;
	display: block !important;
	text-align: center;
	min-height: 90px;
	padding-top: 20px;
	padding-bottom: 40px;
	-webkit-transition: none;
	-moz-transition: none;
	transition-property: none;
	height: 100px !important;
	
}

#e-agreement-page .popover .popover-content{

	padding: 0;
	padding-left: 80px;
	font-size: 13px;
	text-align: left;
	padding-right: 240px;
	
}

#e-agreement-page .popover .popover-navigation{

	text-align: center;
	position: absolute;
	top: 15px;
	right: 20px;
	padding: 0;
	margin-right: -12px;
	
}

#e-agreement-page .popover .yani{

	position: absolute;
	left: 20px;
	top: -5px;
	width: 60px;
	height: 60px;
	opacity: 0.5;
	
}

#e-agreement-page .popover .popover-title{


	margin: 0;
	background: transparent;
	border-bottom: none;
	text-indent: 0;
	position: absolute;
	top: 40px;
	font-size: 10px;
	font-family: "Open Sans", sans-serif;
	right: 20px;
	text-align: center;
	padding: 0;
	color: #787878;
	font-style: 100;
	
}

#e-agreement-page .table>tbody>tr>td{
	
	border: none;
	padding: 0;
	
}

#e-agreement-page textarea{

	width: 100%;
	padding: 10px;

}

#e-agreement-page .nrc{
	
	font-size: 13px;
	
}

#e-agreement-page .block-5-input{
	
	width: 200px;
	display: inline-block;
	
}

@media only screen and (max-width: 992px) {

  #e-agreement-page .block .first,
  #e-agreement-page  .block .second,
  #e-agreement-page  .block .third,
  #e-agreement-page  .block .no-padding {
    width:100%;
  }
  
  #e-agreement-page .block-5 .block-5-input,
  #e-agreement-page  .block-6 table tr td {
    width:100%!important;
    display: block;
  }
  
  #e-agreement-page .btn-custom {
    margin-top: 12px;
    float:left!important
  }
  
}
