#faq-page{
    
    
}

#faq-page header{

  height: 40vh;
  overflow: hidden;
    
}

#faq-page header .lead{

  margin-top: 6vh;

}

#faq-page header .lead .text-xs{

  margin-top: -10px;
  display: block;

}

#faq-page header .lead .text-xs a{

  color: #fff !important;
  text-decoration: underline;

}


#faq-pane .question-pane{
    

  padding-bottom: 5px;
  font-size: 18px;
  text-align: left;
  padding-top: 10px;
  display: block;
  color: #1f739f;

    
}

#faq-pane .question-pane:focus{
    
	color: #000;
    
}

#faq-page .tab-content h2{
	text-align: left;
}
