/* ==========================================================================
   Global styles
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import "../fonts/neris_thin/stylesheet.css" screen, projection;
@import "../fonts/neris_semibold/stylesheet.css" screen, projection;

.text-gray{

	color: #787878;	
	
}


.btn.btn-white.dropdown-toggle{

    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.25) !important;

	
}


.form-control-yellow{

    background: #ffffe6 !important;
	
}


.padd-xl{

	padding: 15px !important;

}

.padd-rl-xl{

	padding-left: 15px !important;
	padding-right: 15px !important;

}


.bg-white-overlay{
  
    background: url('../img/bg-white-overlay.png') center repeat;	

}

.bg-gray-overlay{
  
    background: url('../img/bg-gray-overlay.png') center repeat;	

}

.text-green{

	color: #00ab9d !important;

}


label.btn{
	
	text-transform: none;
	letter-spacing: normal;
	
}

.date-value{

	color: #787878;
}

.fa-star,
.fa-star-half{
	
}
	

.btn-group  .btn,
.btn-group  .btn:hover,
.btn-group  .btn:focus,
.btn-group  .btn.active:focus,
.btn-group  .btn.active:active,
.btn-group  .btn:active{

    border: none !important;
    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.25) !important;

}



.table td{
 
    border-bottom: 1px solid #dce6e6;
 
}
 
.table th{
 
    border-bottom: 1px solid #dce6e6;
    font-size: 12px;
    font-weight: 300;
     color: #787878;
 
}

.alert{
	

		
}

label{

	font-weight: 300 !important;
	font-family: 'Open-Sans', sans-serif

}

.modal-content {

    border-radius: 2px;

}


	            #map-container {

    background: #4ec3cd;




}

	            #map-container .gm-style{



    opacity: 0.8;/*add this*/


}

textarea {
	
	    border: 1px solid #d7e0e0 !important;
	    border-radius: 3px;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
}
   
body{
    font-family: 'Open-Sans', sans-serif;
    color: #444;
    font-weight: 300;
}   
   
h1, h2, h3, h4, h5, h6, p, .btn, .navbar-nav a, .list-inline, small{
  font-family: 'Open-Sans', sans-serif;
  font-weight: 300;
  color: #444;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'nerissemibold', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

p{
    font-family: 'Open-Sans', sans-serif;
}

h1 {
	font-size: 30px;
  line-height: 55px;
  letter-spacing: 1px;
  font-weight: 700;
  
}

h2 {

	font-size: 24px;
	line-height: 40px;
	letter-spacing: 1px;
	font-weight: 700;
  
}

h3 {

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	letter-spacing: 1px;
  
}

.lead { 
    font-family: 'neristhin', sans-serif;   
    font-size: 1em;
    line-height: 1.5em;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
}

.lead .lead-link{
    font-family: 'nerissemibold', sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
/*  color: #00dfcc;*/
    color: #ffcf68;
    text-transform: uppercase;
    display: block;
    text-align: center;
    line-height: 1.5em;
}

.lead .lead-link:hover{
    color: #ffda8b;

}

.lead .and-sign{
    font-family: 'Arial', sans-serif;
    color: #fff;
    font-size: 24px;
    display: block;
    text-align: center;
    line-height: 0.5em;
    position: relative;
    width: 45%;
    margin: 0 auto;
}

.lead .and-sign .left-line{
    position: absolute;
    left: 0;
    top: 8px;
    width: 45%;
    border-bottom: 2px solid #fff;
    opacity: 0.5;
}

.lead .and-sign .right-line{
    position: absolute;
    right: 0;
    top: 8px;
    width: 45%;
    border-bottom: 2px solid #fff;
    opacity: 0.5;
}

p {
  font-size: 14px;
  line-height: 22px;

}

b{
	font-weight: 400;
}

/*------------------Utilities---------------------*/
a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
/*color: #231f20;*/
  color: #0a79d2;
  
  
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -10%;
}

::selection {
    background: #231f20; /* Safari */
    color: #FFFFFF;
}
::-moz-selection {
    background: #231f20; /* Firefox */
    color: #FFFFFF;
}

.form-control,
.input-group-addon{
    border-color:#d7e0e0;
}

.form-control{
    border: none !important;
}
/*------------------Buttons---------------------*/
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn {

  text-transform: uppercase;
  border-radius: 4px;
  border: none !important;
  padding: 12px 24px;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  
}


.btn-group .btn{
  
  color: #222;
  margin: 0 !important;
}

.btn-group > .btn:hover,
.btn-group > .btn:focus:active,
.btn-group > .btn.active:focus{
  

   transition-property: background-color;
  transition-duration: 0.15s;
  transition-delay: 0s;
  
}


.btn,
.btn:focus,
.btn.focus{


  
  transition-property: background-color;
  transition-duration: 0.15s;
  transition-delay: 0s;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  
}

.btn:hover,
.btn:focus:active,
.btn.active:focus{

  transition-property: box-shadow, background-color;
  transition-duration: 0.15s, 0.15s;
  transition-delay: 0s, 0s;

  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);  


}

.btn:active,
.btn:focus:active,
.btn.active:focus{


  transition-property: box-shadow, background-color;
  transition-duration: 0.15s, 0.15s;
  transition-delay: 0s, 0s;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

}

.btn.btn-yellow{

    background: #ffcf68;
    color: #000;
}

.btn.btn-yellow:hover{

    background: #f1bd4e;

}



.btn-sm {
  font-size: 12px;
  line-height: 1.33;
  padding: 4px 12px;
}

.btn-md {
  font-size: 14px;
  line-height: 1.33;
  padding: 8px 12px;
}

.btn-lg {
  font-size: 14px;
  line-height: 1.33;
  padding: 12px 12px;
}

.btn-wide {
  width: 100%;
  font-size: 10px;
  line-height: 1.33;
  padding: 18px 28px;
  letter-spacing: 1px;
}

.btn-group > .btn.btn-default.active{

  background-color: #00c5b4 !important;
  color: #fff !important;

}

.btn-group > .btn.btn-default{



}

.btn-group > .btn.btn-default:hover{

 

}

.btn-default,
.btn-default:focus,
.btn-default.focus{

  /*background-color: #d0e2e2;*/
  background: #f0f8f8;
  color: #222;

}

.btn-default:hover,
.btn.btn-default:active,
.btn-default:focus:active,
.btn-default.active:focus{

   background: #f0f8f8 !important;

}


.btn-primary,
.btn-primary:focus,
.btn-primary.focus{

  background-color: #00c5b4;

}


.btn-primary:active,
.btn-primary:focus:active,
.btn-primary.active:focus{

  background-color: #00b9a9;

}

.btn-primary:hover,
.btn-primary.active:focus{

  background-color: #07d1c0;

}



/* btn-secondary ********************************************************/

.btn-secondary,
.btn-secondary:focus,
.btn-secondary.focus{

  color: #fff;
  background-color: #00a2c5;

}


.btn-secondary:active,
.btn-secondary:focus:active,
.btn-secondary.active:focus{

  color: #fff;
  background-color: #00a2c5;

}


.btn-secondary:hover,
.btn-secondary:focus:active,
.btn-secondary.active:focus{

  color: #fff;
  background-color: #008fae;


}

/* /btn-secondary ********************************************************/

/* btn-secondary ********************************************************/

.btn-custom,
.btn-custom:focus,
.btn-custom.focus{

  background-color: transparent;
  color: #222;

}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus:active,
.btn-custom.active:focus{

  background-color: #fff;

}
/* /btn-custom ********************************************************/


/* btn-white ********************************************************/
.btn-white,
.btn-white:focus,
.btn-white.focus{

  background-color: #fff;
  color: #222;
  
  /*
  box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.5);
  
  */

}

.btn-white:hover,
.btn-white:active,
.btn-white:focus:active,
.btn-white.active:focus{

  background-color: #fff;


}

.btn-white.active{

  background-color: #00c5b4;
  color: #fff;

}

/* btn-secondary ********************************************************/

/* btn-gray ********************************************************/

.btn-gray,
.btn-gray:focus,
.btn-gray.focus{

  color: #00ab9d;
  background-color: #e9f0f1;

}


.btn-gray:active,
.btn-gray:focus:active,
.btn-gray.active:focus{


  background-color: #b6c1c1;

}


.btn-gray:hover,
.btn-gray:focus:active,
.btn-gray.active:focus{

  color: #00ab9d;
  background-color: #e8f0f1;


}

/* btn-gray ********************************************************/

.attend-row.active .btn-primary,
.attend-row.active .btn-primary:focus,
.attend-row.active .btn-primary.focus{

  color: #727a7a;
  background-color: #d0d9d9;

}


.attend-row.active .btn-primary:active,
.attend-row.active .btn-primary:focus:active,
.attend-row.active .btn-primary.active:focus{

  color: #727a7a;
  background-color: #b6c1c1;

}


.attend-row.active .btn-primary:hover,
.attend-row.active .btn-primary:focus:active,
.attend-row.active .btn-primary.active:focus{

  color: #727a7a;
  background-color: #d0d9d9;


}

.load-more-btn,
.promo-signin-btn{
    width: 300px;
    font-size: 20px;
}

.howmoviestart {
    width: 300px;
    font-size: 20px;
}

.system-link{

    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background: #e4ecec;
    color: #1f739f;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 13px;
  
  transition-property: background-color;
  transition-duration: 0.15s;
  transition-delay: 0s;

}

.system-link:hover{


  background-color: #d3dddd;
  transition-property: background-color;
  transition-duration: 0.15s;
  transition-delay: 0s;

}

.menu-container{

    height: 60px;

}

.menu-container > .row{

    padding-top: 15px;

}


.menu-container.green{

    background: #00c5b4;
}

.user-state .nav.navbar-nav li.for-unlogged{
    
    font-style: normal;
    display: inline;
    
}

.user-state .nav.navbar-nav li.for-logged{
    
    font-style: normal;
    display: none;
    
}

.user-state.loggedin .nav.navbar-nav li.for-logged{
    
    font-style: normal;
    display: inline;
    
}

.user-state.loggedin .nav.navbar-nav li.for-unlogged{
    
    font-style: normal;
    display: none;
    
}

/*-----------------Margins------------------*/
.margin-0 {
    margin-bottom: 0 !important;
}
.margin-10 {
    margin-bottom: 10px !important;
}
.margin-15 {
    margin-bottom: 15px !important;
}
.margin-20 {
    margin-bottom: 20px !important;
}
.margin-30 {
    margin-bottom: 30px !important;
}
.margin-40 {
    margin-bottom: 40px !important;
}
.margin-50 {
    margin-bottom: 50px !important;
}
.margin-60 {
    margin-bottom: 60px !important;
}
.margin-70 {
    margin-bottom: 70px !important;
}
.margin-80 {
    margin-bottom: 80px !important;
}
.margin-90 {
    margin-bottom: 90px !important;
}
.margin-100 {
    margin-bottom: 100px !important;
}


/*-----------------Colors------------------*/

.black {
  color: #231f20 !important;
}

.blue {
  color: #70cbce;
}

.white {
  color: #fff;
}

.gray {
  color: #777;
}

.black-bg {
  background: #231f20;
}

.blue-bg {
  background: #70cbce;
}

.white-bg {
  background: #ffffff;
}

.purple-bg {
    background: #6d3f96;
}


/* ==========================================================================
   Nav Styles
   ========================================================================== */

.navbar {
    border: 3px solid rgba(0, 0, 0, 0);
    background: #00c5b4;
    margin: auto;
    padding-top: 15px;
    position: fixed;
    min-height: 70px;
    top: -70px;
    transition: top 0.4s ease 0s;
    z-index: 100;
    padding-right: 30px;
}

.navbar.open {
    top: 0;
}

.navbar-inverse .navbar-nav > li > a, .navbar-nav a {

    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    
}



.navbar-inverse .navbar-nav > li > a:hover {

    color: #ffffff;
    opacity: 0.6;
    border: none;
    
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 10px;
    transition: all 0.15s ease-in-out;
    white-space: nowrap;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #4ec3cd;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.logo img {
    
}



.nav.navbar-nav a{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    border: 1px solid transparent;
    background: transparent !important;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.nav.navbar-nav a:hover{
    background: transparent !important;
    border: 1px solid #fff;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.user-pane .btn{

    font-size: 12px;
    background: transparent !important;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    padding: 5px 10px;
    text-transform: none;
    letter-spacing: normal;
    margin-top: -4px;
    
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
     box-shadow: none !important;
  
}

.user-pane .btn.open{

    background: transparent !important;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  
}

.user-pane .btn:focus,
.user-pane .btn:active{

    color: #fff !important;

    background: transparent !important;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; 
  


}

.user-pane .caret{

    color: #fff;

}

.user-pane .avatar{

    position: relative;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    width: 30px;
    
}

.user-pane .dropdown-menu{

    margin-top: -5px;

}

.user-pane .dropdown-menu > li > a{

    border: 0;
    text-transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    letter-spacing: normal;

}

.user-pane .dropdown-menu > li > a:hover{

    border: 0;
    background: #eff5f5 !important;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;

}

.fa{
    padding-right: 3px;
}
#filter .dropdown-menu > li > a{
    padding: 3px 10px;
}

#filter .dropdown-menu{
    margin-top: 0;
    width: 100px;
}
/* ==========================================================================
   Main styles
   ========================================================================== */
header {
  /*
  background: url('../img/header-bg.jpg') no-repeat center center;
  */
  width: 100%;
  padding: 20px 20px 20px 20px;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  
}

.vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vcenter-guide{
    width: 1px;
    height: 0.5em;
    margin-left: -1px;
}

.header-info{
    position: relative;
    width: 100%;
}    
    
.header-info .play-btn,
.header-info .pause-btn{
    position: relative;
    margin: auto 0;
    cursor: pointer;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    opacity: 0.8;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.header-info .play-btn:hover{
    opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
/*.header-promo-block-------------------*/


.header-promo-block{
    position: relative;
    float: left;
    text-align: center;
    margin-left: 20px;
}

.header-promo-block:first-child{
    margin-left: 0;
}

.header-promo-block .promo-label{
    color: #fff;
    font-family: 'nerissemibold';
    font-size: 20px;
    line-height: 20px;
    display: block;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 15px;
    left: 20px;
    right: 20px;
    border-bottom: 2px solid #00c5b4;
    padding-bottom: 5px;
    
}

.header-promo-block .promo-link{
    color: #ffcf68;
    font-family: 'nerissemibold';
    font-size: 50px;
    text-transform: uppercase;
    display: block;
    margin-top: -10px;
    letter-spacing: -1px;
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 30px;
}

.header-promo-block .promo-divider{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.header-info #promo-btn{
    border: 2px solid #fff;
    padding: 0.8em 0.6em;
    display: inline-block;
    overflow: hidden;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-family: 'Open-Sans', sans-serif;
    margin: 0 auto;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 500px;
    font-size: 0.36em;
    position: relative; 
}

.header-info #promo-btn .green{
    /*color: #00c5b4;*/
}

.header-info #promo-btn .yellow{
    /*color: #ffcf68;*/
}

.header-info #promo-search{
    overflow: hidden;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-family: 'Open-Sans', sans-serif;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    margin-top: -10px;
}

.header-info #promo-search .body{
    margin: 0 auto;
    position: relative;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    line-height: 16px;
}

.header-info .header-promo-blocks-pane{
        
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
        
}


.hero-image-container{

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #222;
    z-index: -1;
    
}

.hero-image{

    position: absolute;
    left: 50%;
    top: 50%;
    width: 2000px;
    height: 1300px;
    margin-left: -1000px;
    margin-top: -550px;
    z-index: -1;
    opacity: 0.5;
    
}

#promo-search .close-icon{
    position: absolute;
    right: 0;
    top: 0;
}

#promo-search .magnifier-icon{
    position: absolute;
    right: 30px;
    bottom: 50%;
    margin-bottom: -9px;
    
}

#promo-search input{
    background: #fff;
    padding: 1em 1.4em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding-right: 40px;
    margin-right: 20px;
    border: 2px solid #fff !important;
    line-height: 1em;
}



/*/.header-promo-block-------------------*/

#primary-search-pane{

    display: inline;
    border: 0;
    position: relative;
    padding-left: 5px;

}

#primary-search-input{

    padding: 8px 10px;
    padding-left: 35px;
    border: 0;
    border-radius: 3px;
    -webkit-radius: 3px;
    -moz-border-radius: 3px;
    width: 250px;
    margin-right: 10px;
    
  transition-property: width;
  transition-duration: 0.15s;
  transition-delay: 0s;

}

#primary-search-input:focus{

  width: 400px;
  outline: none;
  
  transition-property: width;
  transition-duration: 0.15s;
  transition-delay: 0s;

}

#primary-search-pane .magnifier-icon{

    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 15px;

}


.pad-xl {
    padding: 60px 0px;
}

.pad-lg {
    padding: 50px 0px;
}

.pad-sm {
    padding: 40px 0px;
}

.pad-xs {
    padding: 30px 0px;
}

/*#filter-------------------------------------*/

#filter {
/*  background: url('../img/filter-bg.jpg') top center no-repeat #eff5f5;*/
  background-color: #eff5f5;
  background-size: 100% auto;
}

#filter .filter-pane {
    position: relative;
    margin: 0 auto;
    display: inline-block;
}

#filter .filter-pane > .body{
    position: relative;
    overflow: hidden;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    margin: 0 auto;
    

}

#filter .filter-pane .filter-block{
    float:left;
    margin-left: 15px;
    position: relative;
    
}

#filter .filter-pane .filter-block:first-child{
    margin-left: 0;
    
}

#filter .filter-pane .filter-block .block-part{
    
    float:left;
    margin-left: 5px;
    
}

#filter .filter-pane .filter-block .block-part:first-child{
    
    margin-left: 0;
    
}

.btn-group button{

    text-transform: none;
    border: 1px solid #d7e0e0 !important;
    background: #fff;
    border-collapse: collapse;
    
}

.btn-group button.active{

    color: #fff;
    background: #00c5b4;
    
}

.btn-group button:hover{
    background: #f0f8f8;
    
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-border-radius: none;
}

.btn-group button.active:hover{
    background: #f0f8f8;
    color: #fff;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-border-radius: none;
}

.btn-group button.active,
.btn-group button.active:hover,
.btn-group button.active:focus{

    background: #00c5b4;



}

.light-gray-bg{

	background-color: #eff5f5 !important;
	
}

#filter .filter-pane .filter-block-header{
    text-transform: uppercase;
    color: #8a9595;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: center;
}

#filter .filter-block.min-max-price .block-part{
    width: 120px;    
}

#filter .filter-block.min-max-price input{
    height: 46px;
}

#filter .filter-block .input-group-addon{
    background: #f0f8f8;
}

#filter .filter-block .dropdown .btn{
    
}

#filter .filter-block .dropdown .btn:active,
#filter .filter-block .dropdown .btn:focus,
#filter .filter-block .dropdown.open .btn,
#filter .filter-block .dropdown .btn:hover,
#filter .filter-block .dropdown.open .btn:hover{
    background: #f0f8f8;
}

#filter #filter-find-btn{
    width: 140px;
}
/*/#filter-------------------------------------*/

/*#propertylinsigh-------------------------------------*/

#propertylinsight{}

.property-item{
    position: relative;
    padding-left: 15px;
    padding-bottom: 10px;
}

.property-item .title{
    position: relative;
}

.property-item .title{
    font-size: 16px;
    color: #00a395;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
}

.property-item .additional-info{
    font-size: 14px;
    margin-top: -5px;
}

.property-item .shortlist-icon,
.property-item .shortlist-icon{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 32px;
    cursor: pointer;
}

.property-item .location{}

.property-item .photo-block{
    position: relative;
    background: #eff5f5;
    overflow: hidden;
    margin-left: -15px;
}

.property-item .photo-block > .price{
    color: #fff;
    font-size: 22px;
    position: absolute;
    padding: 10px 15px;
    left: 0;
    bottom: 0;
    right: 0;
    font-weight: 300;
    letter-spacing: 2px;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.35)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.price{



}

.property-badge{

    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #222;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    
}

.primary-photo-pane .property-badge{
	top: auto;
	bottom: 0;
}

.for-sale.property-badge{
    background-color: #fec74f;
}

.for-rent.property-badge{
    background-color: #e9f0f1;
}

.for-rent.exclusive .icon,
.for-sale.exclusive .icon{

    width: 12px;
    margin-top: -3px;
    margin-right: 3px;
    
}

.for-rent.cobroke .icon,
.for-sale.cobroke .icon{

    width: 12px;
    margin-top: -3px;
    margin-right: 3px;
    
}

.property-legend-pane{

    position: relative;
    float: right;
    margin-bottom: 20px;
    padding-right: 20px;

}

.property-legend-pane li{
    list-style-type: none;
    padding-bottom: 3px;
    font-size: 13px;
}

.property-legend-pane li .icon{
    width: 16px;
    margin-top: -3px;
    margin-right: 5px; 
}

/*/#propertylinsigh-------------------------------------*/

hr{
	
	border-color: #dce6e6;
	
}

hr.line {
    width: 100%;
    border: 2px solid;
}

.purple {
    border-color: #6d3f96;
    color: #6d3f96;
}

.blue {
    border-color: #70cbce;
    color: #70cbce
}

.yellow {
    /*border-color: #fdc05d;*/
    color: #fdc05d;
}

.yellow.underline {
    /*border-color: #fdc05d;*/
    border-color: #fdc05d;
}

.underline{

    border-bottom: 2px solid;
    padding-bottom: 5px;
}

.iphone {
    position: relative;
    height: 200px;
}

.iphone img {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 440px;
}





.fa-envelope-o {
  color: #4ec3cd;
  font-size: 22px;
  display: block;
  padding-top: 15px;
  width: 60px;
  height: 60px;
  border: 2px solid #4ec3cd;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin: auto;
}



.news-container {
  padding: 10px 0px 20px;
  border-bottom: 1px dotted #d9d9d9;
}

.news-img {
  padding-right: 20px;
}

footer {
  background: #ffffff;
  padding: 40px 0px;
}

footer .links a{

    color: #1f739f !important;
}

.social li a:hover {
  opacity: 0.5;
}



/*.howitworks-------------------------------------*/

#howitworks {
    background: url('../img/how-it-works-bg.jpg') bottom center no-repeat #eff5f5;
    background-size: 100% auto;
}

#howitworks .container-fluid{

    background: #fff;
    border-top: 4px #d7e0e0 solid;
    border-bottom: 4px #d7e0e0 solid;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    
}

.popup-video{

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 1000;
    -webkit-animation-duration: 0.1s;
    background: transparent;
}



#popup-video .close-btn{

    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    cursor: pointer;
    width: 20px;
    
}


#popup-video .video-play-btn{

    position: absolute;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    top: 50%;
    cursor: pointer;
    pointer-events:none;
    display: none;
    
}

#popup-video.pause .video-play-btn{

    display: block;
    pointer-events:none;

}

.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */
#popup-video .modal-body{
    
    padding: 0;
    
}

#popup-video .modal{
    
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    
}

.modal-fullscreen .modal-dialog {

  margin: 0 auto;
  width: 90%;

}

.modal-dialog {

    display: inline-block;
    text-align: left;
    vertical-align: middle;

}
.modal:before {

    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;

}

.modal {
  text-align: center;
}
  
@media (min-width: 768px) {

  .modal-fullscreen .modal-dialog {
    width: 750px;

  }  
}
@media (min-width: 992px) {

  .modal-fullscreen .modal-dialog {
    width: 970px;

  }
}

@media (min-width: 1200px) {

  .modal-fullscreen .modal-dialog {
     width: 1170px;

  }
}


.how-it-works-block {
  background: #fff;
  margin-top: 0px;
  padding-top: 50px;
  margin-top: 10px;
  min-height: 380px;

  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  
}

.how-it-works-block.active {

}

.how-it-works-block:hover {

  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;

}


.headline {
  padding: 10px 30px;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 500;
}

/*
.info {
    padding: 20px 40px;
    padding-bottom: 50px;
}
*/
   
.logo-pane{
    text-align: center;
}

.logo-pane.logo{
    text-align: center;
    margin-top: 6px;
} 

a.logo{



} 
/* ==========================================================================
   Form styles
   ========================================================================== */
.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border-radius: 3px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.35) inset;
/*    color: #929496;*/
    display: block;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control::-moz-placeholder {

    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;

}

.form-control::-webkit-placeholder, .form-control::-o-placeholder {

    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;

}

.form-control::-o-placeholder {

    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;

}

/* ==========================================================================
   System
   ========================================================================== */   

.hor-br-lg{

    clear: both;
    height: 40px;

}

.hor-br-md{

    clear: both;
    height: 20px;

}

.hor-br-sm{

    clear: both;
    height: 10px;

}

.hor-br-xs{

    clear: both;
    height: 5px;

}

.text-xxs{
 
 font-size: 12px;
  
}

.text-xs{
 
 font-size: 13px;
  
}

.text-xs{
 
 font-size: 12px;
  
}

.text-sm{
 
 font-size: 13px;
  
}

.text-md{
 
 font-size: 16px;
  
}

.text-lg{
 
 font-size: 18px;
  
}

.clr{

    clear: both;

} 

.hidden{

    z-index: -1000;

}  

.no-gutter{

  margin-right: 0;
  margin-left: 0;

}

.relative{
    
    position: relative;
    
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.text-black{
    
    color: #222 !important;
       
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.nav-pills > li > a,
.nav-pills>li.active>a:focus,
.nav-pills > li > a:hover{

    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'nerissemibold';
    background: transparent;
    color: #7d8080;
    
}

.nav-pills > li > a:hover{

  color: #222;
  
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  
  /*
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  */
  
}  
  
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {

    color: #333;
    background-color: transparent;
    border-bottom: 4px #00c5b4 double;

}

.nav-pills > li > a{
    
    padding-left: 0;
    padding-right: 0;
    
}

.nav-pills>li+li {
    margin-left: 15px;
}

/*
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
*/


ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: none !important;    
}


    .nav.navbar-nav{
    
        display: none;
    }
    
    .navbar-collapse .nav.navbar-nav{
        
        display: block;
    }

.header-promo-block{
    width: 100%;
    clear: both;
    margin-left: 0;
}

#filter .filter-pane .filter-block{
    clear: both;
    
}

.no-float{
    float: none;
}

footer .footer-menu a,
footer .footer-menu a:focus{
    border: 0;
    float: left;
    clear: both;
    color: #1f739f !important;
    background: transparent;
}

footer h5 {
    color: #b9c8c8;
}

footer small{
    color: #b9c8c8;
    font-size: 14px;
}


/* Small heade info */

.header-info{
    
    font-size: 22px;
    
}

.header-info .lead div{
    
    line-height: 1em;
    
}

.header-info .lead-link{
    
    line-height: 1.2em;
    
}

.header-info #main-play-btn{
    
    width: 1.5em;
    
}

.filter-pane .btn-group .btn{

    padding-left: 12px;
    padding-right: 12px;

}

.filter-pane .btn-group .btn:focus{

 /*   background: #fff;*/

}

.header-info #promo-btn{

    font-size: 12px;

}
.header-info #promo-search input{

    font-size: 12px;    

}



/* Small header info */



.navbar-fixed-top.open .dropdown-menu > li > a{
    
    border-bottom: none !important;
    font-size: 12px;
    
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
        
}



.navbar-fixed-top.open .logo{

    left: 0;
    position: relative;
    margin-left:0;

}

.navbar-fixed-top.open .navbar-nav > li > a{

    text-align: left;
    font-size: 12px;

}

.navbar-fixed-top.open .user-pane .btn{

    font-size: 18px;
    margin-top: 0;
    color: #fff;
    text-transform: uppercase;
    
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  
}

.nav.navbar-nav .highlight{
    
    border: 1px solid #fff !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    margin-left: 3px;
    margin-right: 3px;
    
}

.nav.navbar-nav .highlight:hover{
    
    background-color: #fff !important;
    color: #000;
    
}


.dropdown-menu{

    z-index: 10000;
    * z-index: 10000;
    
}


.modal-header {

    border-bottom: none !important;
    padding-bottom: 0;
    
}

.modal-footer {

    border-top: none !important;
    padding-top: 0;
}


/* ==========================================================================
   Mobile styles
   ========================================================================== */
/* Landscape phones and down */
@media (max-width: 480px) {

.navbar-fixed-top.open .navbar-nav > li > a{

    text-align: center;
    font-size: 18px;

}

.navbar-fixed-top.open .logo{

    left: 50%;
    position: absolute;
    margin-left: -75px;

}


.navbar-fixed-top.open .user-pane .btn{

    font-size: 18px;
    margin-top: 0;
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  
}

.navbar-fixed-top.open .user-pane .btn:focus{

    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  
}

.navbar-fixed-top.open .dropdown-menu > li > a{
    
    border-bottom: none !important;
    font-size: 18px;
    text-align: center;
    color: #222;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;

        
}

.navbar-fixed-top.open .user-pane .dropdown-menu > li > a{

    color: #fff !important;
    text-align: center;
    font-size: 18px;
    
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;

    border-bottom: none !important; 
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
  
}

.navbar-fixed-top.open .navbar-nav li a:hover{
    
    background: transparent !important;
    color: #fff;
    
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
        
}

.navbar-fixed-top.open .user-pane .dropdown-menu .divider{

    background-color: #fff;
  
}

.vcenter-guide{

    height: 2em;

}
    .filter-pane input{
    

    }

    .col-xs-2.logotype{
        
        margin-left: 150px;

        
    }

    .nav.navbar-nav{
        display: none;
    }

/*
    .btn-lg {
      font-size: 12.5px;
      line-height: 1.33;
      padding: 16px 13px;
      letter-spacing: 0px;
    }
    
    
    .btn-wide {
      width: 100%;
      font-size: 12.5px;
      line-height: 1.33;
      padding: 16px 13px;
      letter-spacing: 0px;
    }
    
    */


    #propertylinsight .property-item{
        
        max-width: 370px;
        margin: 0 auto;
    
    }
    
    .nav.nav-pills a{
        
        font-size: 16px;
        
    }
    
    .nav.nav-pills a:hover{
        
        font-size: 16px;
        
    }
    
    #promo-search input{
        
        max-width: 350px;
    
    }
        
    
#filter .filter-pane .filter-block:last-child{
    width: 100%;
    margin-top: 20px;
}

#filter .filter-pane .filter-block{
    position: relative;
    float: none;
    margin: 0 auto;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

#filter .filter-pane .filter-block{
    clear: both;
    
}

}


/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) { 


.navbar-fixed-top.open .logo{

    left: 50%;
    position: absolute;
    margin-left: -75px;

}


.navbar-fixed-top.open .user-pane .btn{

    font-size: 18px;
    margin-top: 0;
    color: #fff;
    
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    text-transform: uppercase;
  
}

.navbar-fixed-top.open .user-pane .btn:focus{

    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    text-transform: uppercase;
  
}

.navbar-fixed-top.open .navbar-nav li > a{
    
    border-bottom: none !important;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;

        
}

.navbar-fixed-top.open .dropdown-menu > li > a{
    
    border-bottom: none !important;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;

        
}

.navbar-fixed-top.open .user-pane .dropdown-menu > li > a{

    color: #fff !important;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    font-weight: 300;
    letter-spacing: 1px;
  
}

.navbar-fixed-top.open .dropdown-menu > li >a:hover{
    
    background: #01e8d4 !important;
    color: #fff;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
        
}

.navbar-fixed-top.open .user-pane .dropdown-menu .divider{

    background-color: #fff;
  
}

.logo-pane{
    text-align: center;
}

.vcenter-guide{
    height: 15em;
}
header{
    height: 40em !important;
}
#promo-search input {
    width: 36em; 
}

.header-info{
    font-size: 32px;
}

    .nav.navbar-nav{
        display: none;
    }


    .btn-lg {
      font-size: 12.5px;
      line-height: 1.33;
      padding: 16px 13px;
      letter-spacing: 0px;
    }
    
    
    .btn-wide {
      width: 100%;
      font-size: 12.5px;
      line-height: 1.33;
      padding: 16px 13px;
      letter-spacing: 0px;
    }


    #propertylinsight .property-item{
        
        max-width: 370px;
        margin: 0 auto;
    
    }
    
    .nav.nav-pills a{
        
        font-size: 16px;
        
    }
    
    .nav.nav-pills a:hover{
        
        font-size: 16px;
        
    }
    
    #promo-search input{
        
        max-width: 350px;
    
    }

#filter .filter-pane .filter-block:last-child{
    width: 100%;
    margin-top: 20px;
}

#filter .filter-pane .filter-block{
    position: relative;
    float: none;
    margin: 0 auto;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

#filter .filter-pane .filter-block{
    clear: both;
    
}


}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

/* .navbar-fixed-top.open ----------- */


.menu-container{
    display:none; 
}

.navbar-fixed-top.open .user-pane .btn{

    font-size: 12px;
    margin-top: -5px;
    color: #fff;
    text-transform: none;
    
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  
}
.navbar-fixed-top.open .user-pane .btn:active,
.navbar-fixed-top.open .user-pane .btn:focus{

    color: #fff;
    
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    text-transform: normal;
  
}

.navbar-fixed-top.open .user-pane .dropdown-menu > li > a{


    text-align: left;
    font-size: 12px;
    text-transform: normal;
    
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;

  
}

.navbar-fixed-top.open .user-pane .dropdown-menu > li >a:hover{

    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
        
}

/* /.navbar-fixed-top.open ----------- */

.logo-pane{
    text-align: left;
}
.vcenter-guide{
    height: 15em;
}




#promo-search input {
    width: 36em; 
}

.header-info{
    font-size: 34px;
}   
    .nav.navbar-nav{
        display: block;
    }


    #propertylinsight .property-item{
        
        max-width: 370px;
        margin: 0 auto;
    
    }
    
    .nav.nav-pills a{
        
        font-size: 16px;
        
    }
    
    .nav.nav-pills a:hover{
        
        font-size: 16px;
        
    }
    
    #promo-search input{
        
        max-width: 350px;
    
    }
        
    
#filter .filter-pane .filter-block:last-child{
    width: 100%;
    margin-top: 20px;
}

#filter .filter-pane .filter-block{
    position: relative;
    float: none;
    margin: 0 auto;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

#filter .filter-pane .filter-block{
    clear: both;
    
}
  
}



/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

/* .navbar-fixed-top.open ----------- */

.navbar-fixed-top.open .user-pane .btn{

    font-size: 12px;
    margin-top: -5px;
    color: #fff;
    text-transform: none;
    
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  
}
.navbar-fixed-top.open .user-pane .btn:active,
.navbar-fixed-top.open .user-pane .btn:focus{

    color: #fff;
    
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    text-transform: normal;
  
}

.navbar-fixed-top.open .user-pane .dropdown-menu > li > a{


    text-align: left;
    font-size: 12px;
    text-transform: none;
    
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;

  
}

.navbar-fixed-top.open .user-pane .dropdown-menu > li >a:hover{

    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
        
}

/* /.navbar-fixed-top.open ----------- */

.logo-pane{
    text-align: left;
}
.vcenter-guide{
    height: 15em;
}

.dropdown .dropdown-menu {
/*    opacity: 0; */    

  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;        
}

.dropdown:hover .dropdown-menu {
/*        display: block;
        opacity: 1;*/
        
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;        
}

.header-info{
    font-size: 36px;
}
    .nav.navbar-nav{
        display: block;
    }

#filter .filter-pane .filter-block:last-child{
    width: 100%;
    margin-top: 20px;
}

#filter .filter-pane .filter-block{
    clear: none;
    
}

}


/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {


/* .navbar-fixed-top.open ----------- */

.navbar-fixed-top.open .user-pane .btn{

    font-size: 12px;
    margin-top: -5px;
    color: #fff;
    text-transform: none;
    
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  
}
.navbar-fixed-top.open .user-pane .btn:active,
.navbar-fixed-top.open .user-pane .btn:focus{

    color: #fff;
    
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    text-transform: normal;
  
}

.navbar-fixed-top.open .user-pane .dropdown-menu > li > a{


    text-align: left;
    font-size: 12px;
    text-transform: normal;
    
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;

  
}

.navbar-fixed-top.open .user-pane .dropdown-menu > li >a:hover{

    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
        
}

/* /.navbar-fixed-top.open ----------- */

.logo-pane{
    text-align: left;
}
.vcenter-guide{
    height: 15em;
}






#promo-search input {
    width: 36em; 
}

.header-info{
    font-size: 40px;
}

#filter .filter-pane .filter-block{
    clear: none;
    
}
    .nav.navbar-nav{
        display: block;
    }


#filter .filter-block-clr{
    display: none;
}

.header-promo-block{
    width: auto !important;
    margin-left: 0;
    float: left;
    clear: none;
    margin-left: 30px;
}

.header-promo-block:first-child{
    margin-left: 0;
}

}   





