#manage-bids-page > .navbar {

    top: 0 !important;
    margin-top: 0;
    
}

#manage-bids-page > .navbar .logotype{

    padding-bottom: 10px;

}

#manage-bids-list .bid-pane{
	
	border: 1px solid #ccc;
	padding: 15px;
	padding-top: 130px;
	
}

#manage-bids-list .bid-pane .avatar img{
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -50px;
	
}

#manage-bids-list .bid-pane .details-pane{
	
	text-align: center;
	position: relative;
	
}

#manage-bids-list .bid-pane .agent-name{
	
	text-align: center;
	width: 100%;
	display: block;
	
}

#manage-bids-list .bid-pane .btns-pane{
	
	text-align: center;
	width: 100%;
	
}


#manage-bids-list .bid-pane .note-block{
	
	font-size: 12px;
	text-align: center;
	
}

#manage-bids-list .bid-pane .company-logo-pane{
	
	width: 100%;
	height: 60px;
	text-align: center;
	
}

#manage-bids-list .bid-pane .company-logo-pane img{
	
	max-height: 60px;
	
}

#manage-bids-property-item {
	
	margin-top: 70px;
	
}

#manage-bids-property-item .bid-photo-pane .system-link{
	
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
	
}

#manage-bids-property-item .bid-details-pane .system-link{
	
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
	background-color: #fff;
	
}

#manage-bids-property-item .bid-photo-pane{
	
	overflow: hidden;
	height: 340px;
}

#manage-bids-property-item .bid-photo-pane img{
	
	max-height: 340px;
	
}

#manage-bids-property-item .bid-details-pane{
	
	padding: 20px;
	height: 340px;
	text-align: left;
	
}

#manage-bids-property-item .bid-details-pane hr{
	
	border-color: #bbc3c3;
	margin-bottom: 10px;
	margin-left: -20px;
	margin-right: -20px;
	
}

#manage-bids-property-item .bid-status{
	
	font-size: 18px;
	font-weight: 500;
	color: #000;
	
}

#manage-bids-property-item .btn-group{
	
	width: 100%;
	
}

#manage-bids-property-item .dropdown {
	

	width: 100%;
	
}
#manage-bids-property-item .dropdown .dropdown-toggle{
	
	padding: 5px 10px;
	width: 100%;
	text-align: left;
}

#manage-bids-property-item .dropdown .dropdown-toggle .caret{

	margin-left: 0;
    position: absolute;
    right: 10px;
    top: 15px;
    
}

.img-bg-zoomed-pane{
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
}

.img-bg-zoomed-pane .img-bg-zoomed{
	
	position: absolute;
	margin-left: -500px;
	left: 50%;
	top: 50%;
	margin-top: -500px;
	opacity: 0.15;
	z-index: -1;
	
}
ul.countdown-timer,
ul.countdown-timer-label{
  padding-left: 0
}
ul.countdown-timer li {
  display: inline;
  font-size: 54px;
  color: #00a395;
  font-weight: 300;
  vertical-align: middle;
  padding: 0 5px;
  letter-spacing: 2px
}
ul.countdown-timer, ul.countdown-timer-label {
  margin-bottom: 0
}
ul.countdown-timer li {
  display: inline;
  font-size: 54px;
  color: #00a395;
  font-weight: 300;
  vertical-align: middle;
  padding: 0 5px;
  letter-spacing: 2px
}
ul.countdown-timer li:first-child {
  padding-left: 0
}
ul.countdown-timer li.timer {
  font-size: 32px
}
ul.countdown-timer-label li {
  display: inline;
  font-family: 'Neris';
  font-size: 12px;
  color: #00a395;
  font-weight: normal;
  vertical-align: middle;
  padding: 0 34px;
  text-align: center;
}
ul.countdown-timer-label li:first-child {
  padding-left: 16px
}
ul.countdown-timer-label li:last-child {
  padding-left: 16px
}
