 .rate-summary-pane{

	 font-size: 16px;
	 
 }

.fa-star.gray{
	
	color: #dce6e6;
}

.fa-star.yellow{
	
	color: #fec74f;
}

.starrr{
	
	float: left;
	
}

.helpful-value{

	padding-left: 3px;
    padding-right: 8px;
	
}

.date-value{

	margin-right: 20px;
}

#profile-page > .navbar {

    top: 0 !important;
    margin-top: 0;
    
}

#main-profile-pane{
	
	margin-top: 70px;
	
}

#profile-page .system-link{
	
	position: absolute;
	top: 0;
	right: 0;
	
}

#profile-page section{
	
	position: relative;

}

.my-blog-posts-list .list-group-item{
	
	
	
}

.list-group-item{
	
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
		
}

.list-group-item{
	
	border-width: 0;
	border-bottom-width: 1px;
	background: transparent;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
		
}

.my-blog-posts-list .date{

	color: #787878;
	padding-right: 100px;
	display: inline;
	
}

.my-blog-posts-list .system-link{

	position: relative !important;
	font-size: 11px;
	float: right;
	top: auto !important;
	padding-left: 10px;

	
}

.review-list-pane .review{
	
	padding: 20px;
	padding-left: 130px;
	padding-right: 40px;
	
}

.review-list-pane .review .body{
	

	font-size: 13px;
	padding: 20px;
	background: #f9fbfb;
	
}

.review-list-pane .review .btns-pane{
	
	position: relative;
	padding-top: 20px;
	
}

.review-list-pane .review .btns-pane .system-link{
	
	position: relative !important;
	float: left;
	left: 0 !important;
	top: 0 !important;
	margin-right: 10px;
	
}


.review-list-pane .review .body b{
	
	font-size: 12px;
	
}

.review-list-pane .review{
	
	position: relative;
/*	background: #f9fbfb;*/
	
}


.review-list-pane .review .body{
	
	position: relative;
/*	background: #f9fbfb;*/
	
}

.review-list-pane .review .corner{
	
	position: absolute;
	left: 120px;
	top: 60px;
	width: 10px;
	height: 10px;
	opacity: 0.8;
	
}

.review-list-pane .review .avatar{
	
	position: absolute;
	left: 30px;
	top: 30px;
	border-radius: 70px;
	-webkit-border-radius: 70px;
	overflow: hidden;
	
}

.review-list-pane .review .avatar img{
	
	width: 70px;
	height: 70px;
		
}

#main-profile-pane .avatar{
	
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -75px;

	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	overflow: hidden;
	
	
	
}

#main-profile-pane .avatar img{
	
	width: 150px;
	height: 150px;
	
}

#main-profile-pane .profile-left-pane{
	
	padding: 20px;
	padding-top: 170px;

	
}

.registered-name-pane label{
	
	color: #787878;
	font-size: 13px;
}

#main-profile-pane .profile-top-pane .btns-pane{
	
	position: absolute;
	top: 0;
	right: 0;
	
	
}

#main-profile-pane .profile-top-pane{
	
	position: relative;
	height: 60px;
	text-align: center;
	
	
}

#main-profile-pane .profile-right-pane h2{
	
	position: relative;
	padding-bottom: 40px;
	margin: 0;
	
	
}

#main-profile-pane .profile-top-pane .btns-pane .system-link{
	
	position: relative;
	float: right;
	margin-left: 10px;
	top: auto;
	right: auto;
	margin-top: 25px;
	
}

#main-profile-pane .block-row{
	
	position: relative;
	
	
}

.testimonial-stats{
	
	background: #f5f9f9;
	padding: 20px;
		
}

#main-profile-pane .block-row .check-icon{

	margin-right: 10px;	
	
}

.veryfied-pane .veryfied-status{

	font-size: 11px;
	color: #787878;
	
}

.profile-left-pane .veryfied-pane{
	
	padding: 10px 15px;
    background: #f5f9f9;
    text-align: left;
	width: 60%;
    margin: 0 auto;
    
}

.profile-right-pane .veryfied-pane{
	
	padding: 10px 15px;
    background: #f5f9f9;
    text-align: left;
	width: 100%;
    margin: 0;
    
}

.profile-left-pane .veryfied-pane h6{
	
	margin: 0;
	text-align: center;

}

.profile-right-pane .veryfied-pane h6{
	
	margin: 0;
	text-align: left;

}

.veryfied-pane .block-row{

	padding-left: 30px;
	font-size: 13px;
	
}

.veryfied-pane .check-icon{

	position: absolute;
	left: 0;
	top: 7px;
	font-size: 16px;
	color: #00ab9d;
	
}

check-icon


#main-profile-pane .block-row hr{
	
	margin: 5px 0;
	
	
}

#main-profile-pane .block-row .form-control{
	
	margin-top: -10px;
	margin-bottom: 10px;
	
	
}



#main-profile-pane .block-row > [class*='col-']{
	
	
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	font-weight: 500;
}

#main-profile-pane .block-row .data-label{
	

	color: #787878;
	font-size: 13px;
	font-weight: 300;	
}

#main-profile-pane .block-row .social-icon{
	
	width: 30px;
	margin-right: 10px;
	margin-top: -10px;
		
}

#main-profile-pane .block-row > [class*='col-']:first-child{
	
	border-bottom: none;
	
}



#profile-page hr{
	
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.review-list-pane hr{
	
	margin-top: 20px !important;
	margin-bottom: 20px !important;

}

.license-number{

	color: #787878;
	
}

.testimonial-stats .rate-number{
	
	float: right;
	padding-right: 20px;
	
}

.testimonial-stats .stat-pane{

	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	position: relative;
	margin: 0 auto;

}


.testimonial-stats .stat-pane .data-value{
	
	font-size: 36px;
	font-weight: 200;
	color: #00ab9d;
	text-align: center;
	display: block;
	margin-bottom: 5px;
	width: 100%;
	padding-top: 15px;
	
}

.testimonial-stats .stat-pane .text-label{
	
	display: block;
	text-align: center;
	font-size: 13px;
	white-space: nowrap;
	position: absolute;
	color: #00ab9d;
	width: 100%;
	top: 55px;
	left: 0;
	line-height: 14px;
	margin-top: 15px;
	
}

.testimonial-stats .text-description{
	
	display: block;
	text-align: center;
	font-size: 11px;
	color: #787878;
	margin-top: 10px;
	
}


.review > .system-link{
	
	font-size: 12px;
	
}

.review > .system-link{
	
	position: absolute;
	left: 10px !important;
	top: 120px !important;
	right: auto !important;
	
}

#add-recent-sale-transaction label{

	display: block;
	width: 100%;
	margin-top: 5px;
	color: #787878;
	font-size: 13px;
	
	
}

#add-recent-sale-transaction .table td{

	
	border: none;
	padding: 0;
	
	
	
}

#add-recent-sale-transaction input[type='text']{

	
	width: 100%;
	padding: 5px;
	
	
}

#add-recent-sale-transaction .search-result-pane{

	position: relative;
	
}


#add-recent-sale-transaction .search-result-pane .search-result-window{

	position: absolute;
	left:0;
	top: 34px;
	width: 100%;
	z-index: 1;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);  
	
}

#add-recent-sale-transaction .search-result-pane .search-result-window .list-group{

	margin-bottom: 0;
	background: #fff;
	
}

.my-blog-posts-list .list-group{
	
	background: #f9fbfb;
	
}

.my-blog-posts-list .list-group-item{
	
	padding-top: 15px;
	padding-bottom: 15px;
	
}
