#property-listing-content{

	padding-bottom: 150px;
	
}

#property-listing .step3 .vertical-label{
	
	margin-top: 10px;
	margin-left: 0;
	padding-left: 0;
	
}

#property-listing .highlight-part{
	
	background: url('../img/bg-yellow-overlay.png') repeat;

	
}


#property-listing-content .short-form-control{
	
	width: 80px;
	display: inline;
}


#property-listing-content .hor-line{

	clear: both;
/*
	height: 8px;
	background: url('../img/green-line.svg') center no-repeat;
*/
	


}

#property-listing hr{

	border-color: #bfc7c7;
	 
}

#property-listing label{

	margin-bottom: 10px;
	 
}

#property-listing .way-pane{

	position: fixed !important;
	right: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	z-index: 2 !important;
	padding-bottom: 20px;
	padding-top: 30px;
}

.btn-round{

	background: transparent !important;
	margin-right: 10px !important;
	position: relative;
	box-shadow: none !important;
	padding-top: 15px;
	padding-bottom: 15px;

	
}

.btn-round::after{

	position: absolute;
	width: 60px;
	height: 60px;
	top: 50%;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
	content: "";
    background-color: #fff;
    color: red;
    display: block;
    overflow: hidden;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    z-index: -1;
    opacity: 0.8;
	
	
}

.btn-round.active::after{

    background-color: #00c5b4;	
	
}


#property-listing .container-fluid{
	

	
}

#property-listing .btn-group .btn{

	text-transform: none;
	letter-spacing: normal;
	
}

#property-listing .search-result-box{
	
	position: absolute;
	left: 15px;
	right: 15px;
	z-index: 2;
	
	
}

#property-listing h2{
	
	text-transform: none;
	font-size: 28px;
	
}

#property-listing h3{
	

	font-size: 24px;
	
}

#property-listing h4{
	

	font-size: 20px;
	
}


#property-listing h1,
#property-listing h2,
#property-listing h3,
#property-listing h4,
#property-listing h5,
#property-listing h6{

	font-weight: 200;	
	text-transform: none;
	color: #585b5c;
	

}





#property-listing .hero-image-container .hero-image{

/*	opacity: 0.25 !important;*/
	opacity: 1 !important;
	
}

#property-listing .hero-image-container{

	position: fixed !important;
	overflow: hidden;
	opacity: 0.7;
	
	background: #fff !important;
	
/*		background: #00c5b4 !important;*/
	
/*	background: #62DCC4 !important; */
	
}

#property-listing .logotype{

	position: absolute;
	left: 20px;
	top: 15px;
	width: 150px;
	z-index: 3;
	
}

.step1 .sale-icon,
.step1 .rent-icon{

	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	overflow: hidden;
	display: block;
	background: #fec74f;
	position: relative;
	float: right;
	cursor: pointer;
	margin-right: 25px;
	border: 2px solid #fff;
	width: 150px;
	height: 150px;

  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

	
}

.step1 .sale-icon .fa,
.step1 .rent-icon .fa{
	
	font-size: 32px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 0;
	padding: 0;
	margin-left: -15px;
	margin-top: 5px;
	
  -webkit-transition: margin-top 0.25s background 0.25s ease-in-out;
  -moz-transition: margin-top 0.25s background 0.25s ease-in-out;
  -o-transition: margin-top 0.25s background 0.25s ease-in-out;
  transition: margin-top 0.25s background 0.25s ease-in-out;
	
}

.step1 .rent-icon .fa{
	
	color: #00c5b4;
	margin-left: -10px;
}	


.step1 .sale-icon:hover{


	background: #fed74f;
	margin-top: -3px;

  -webkit-transition: margin-top 0.25s background 0.25s ease-in-out;
  -moz-transition: margin-top 0.25s background 0.25s ease-in-out;
  -o-transition: margin-top 0.25s background 0.25s ease-in-out;
  transition: margin-top 0.25s background 0.25s ease-in-out;
		
}


.step1 .sale-icon span,
.step1 .rent-icon span{

	font-size: 18px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	display: block;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 45px;
	
}

.step1 .rent-icon{

float: left;
	background: #e9f0f1;
	color: #00ab9d;

	
		
}

.step1 .rent-icon:hover{


	background: #dfe9ea;
	margin-top: -3px;

  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
		
}

#property-listing-content.step1{

	padding-top: 28vh;	
	
}

#property-listing-content.step2{

	padding-top: 30vh;	
	
}



#property-listing-content #property-search-input .fa-search{
	
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -10px;
	
}

#property-listing-content .fa-search{
	
	position: absolute;
	top: 50%;
	left: 15px;
	margin-top: -8px;
	color: #00c5b4;
	
}

#property-listing-content .fa-times{
	
	position: absolute;
	top: 50%;
	right: 15px;
	color: #908f8f;
	margin-top: -8px;
	
}

#property-listing-content.step-beta #property-search-input{
	
	padding-left: 35px;
	padding-right: 35px;
	
}
/*
#property-listing .way-pane{
	
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 3 !important;
	
	
}
*/


#property-listing .way-pane .background{
	
	position: absolute;
	bottom: 0 !important;
	width: 100%;
    left: 0;
    top: 60px;
    z-index: -1;
    opacity: 1;
	background: #fff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
	opacity: 0.85;
	overflow: hidden;
}

#property-listing .way-pane .btn{
	
	background: transparent !important;
	border: 1px solid #fff !important;
	font-size: 12px;
	letter-spacing: 1px;
	opacity: 0.8;
	
    -webkit-transition:opacity 0.2s  background 0.2s; /* Safari */
    transition:opacity 0.2s  background 0.2s;	

	
}

#property-listing .way-pane .btn-gray{
	
/*	border: 2px solid #00ab9d !important; */
	
	border: 2px solid #fff !important;
	
}

#property-listing .way-pane .btn-default{
	
/*	border: 2px solid #666 !important; */
	
	border: 2px solid #fff !important;
	
}

#property-listing .way-pane .btn:hover{
	
	background: #fff !important;

    -webkit-transition: opacity 0.2s background 0.2s; /* Safari */
    transition: opacity 0.2s background 0.2s;	
	opacity: 1;

	
}


/*
#property-listing .way-pane .btn::after{
	
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    font-size: 11px;
    content: "";
    background-image: url('../img/white-overlay.png');
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    z-index: -1;
    border: 2px solid #fff;
	


#property-listing .way-pane .btn:hover::after{
	

	background: #fff;
	
}

#property-listing .way-pane .btn-primary::after{
	

	background: #00c5b4;

	
}


#property-listing .way-pane .btn:hover::after{
	

	background: #fff;
	
}



#property-listing .way-pane .btn-primary:hover::after{
	

	background: #2ebbae;
	
}


*/

#property-listing-content .way-box{
	
	margin: auto 0;
	
}

#property-listing-content .way-box  > li{
	
	display: inline-block;
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	text-align: left;
	padding-right: 30px;
	padding-left: 35px;
	white-space: nowrap;
	font-size: 13px;
	position: relative;
	
}

#property-listing-content .way-box li > a{
	
	display: inline-block;
	
}

#property-listing-content .way-box > li::after{
	
	content: "";
	position: absolute;
	top: 10px;
	left: 20px;
	width: 5px;
	height: 5px;
	background: #fff;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background: #00ab9d;
	
}

#property-listing .way-pane  label{
	
	text-align: left;
	text-transform: uppercase;
	font-size: 13px;
	color: #666;
	letter-spacing: 1px;
	margin-bottom: 0;
	
	
}


#property-listing .way-pane  .step-item{
	
	cursor: pointer;
	display: block;
	
}

#property-listing .way-pane  .step-item span{
	
	font-weight: 400;
/*	color: #0a79d2; */
	font-size: 16px;
}

#property-listing .way-pane  .step-item.active span{
	
	color: #00ab9d !important;
	
}


#property-listing .way-pane  .step-item:hover > span,
#property-listing .way-pane  .step-item:focus > span{
	
	color: #0a79d2;
	
}


#property-listing .way-pane  .step-item.active:hover span,
#property-listing .way-pane  .step-item.active:focus span{
	
	color: #222;
	
}


.search-result-box .list-group{
	

	
}


.search-result-box .block-row{
	
	position: relative;
	clear: both;
	padding: 5px;
	
}

#property-search-input{
	
	padding-left: 40px;
	
}

/*Step2*/

#property-listing-content.step2{

	padding-top: 30vh;	
	
}

/*/Step2*/


/*Step3*/

#property-listing-content.step3{

	padding-top: 13vh;	
	
}

#property-listing-content.step3 .way-pane{

	position: relative;
	bottom: auto;
	left: auto;
	
}

#map-container{

	height: 400px;
	position: relative;
	
}

#property-listing .step3 .btn-group > .btn-lg{
	
	font-size: 13px;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 5px;
	padding-right: 5px;
	
}

#property-listing .step3 .container-fluid{
	
	margin-left: -15px;
	margin-right: -15px;
	
}
/*
#property-listing .step3 .btn-group > .btn{

	background: transparent;
	margin-right: 10px !important;
	position: relative;
	box-shadow: none !important;
	padding-top: 25px;
	padding-bottom: 25px;

	
}

#property-listing .step3 .btn-group .btn::after{

	position: absolute;
	width: 60px;
	height: 60px;
	top: 50%;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
	content: "";
    background-color: #fff;
    color: red;
    display: block;
    overflow: hidden;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    z-index: -1;
    opacity: 0.8;
	
	
}

#property-listing .step3 .btn-group .btn.active::after{

    background-color: #00c5b4;	
	
}
*/

/*/Step3*/

/*Step4*/

#property-listing-content.step4{

	padding-top: 12vh;	
	
}

#property-listing-content.step4 .way-pane{

	position: relative;
	bottom: auto;
	left: auto;
	z-index: 3 !important;
	
}

#map-container{

	height: 400px;
	position: relative;
	
}



#property-listing .step4 .btn-group .btn{

	padding-top: 15px;
	padding-bottom: 15px;
	
}

/*
#property-listing .step4 .btn-group .btn{

	padding-top: 8px;
	padding-bottom: 8px;
	margin-right: 10px !important;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	margin-top: 5px !important;
	
}*/

/*/Step4*/

/*/Step5*/

#property-listing-content.step5{

	padding-top: 15vh;	
	
}


#property-listing .step5 .photo-item-pane{

	width: 150px;
	position: relative;
	margin-right: 20px;
	float: left; 
	
}

#property-listing .step5 .photo-item{

	width: 150px;
	position: relative;
	height: 150px;
	margin-bottom: 10px;
	border: 2px solid #fff;
	background: #ccc;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
	overflow: hidden;
	
}

#property-listing .step5 .add-photo-pane{

	width: 150px;
	position: relative;
	margin-right: 20px;
	float: left; 
	
}

#property-listing .step5 .add-photo-pane{

	width: 150px;
	position: relative;
	height: 150px;
	margin-bottom: 10px;
	overflow: hidden;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-image: url('../img/bg-yellow-overlay.png');
	padding-top: 80px;
	
	
}

#property-listing .step5 .add-photo-pane img{

	width: 50px;
	position: absolute;
	height: 50px;
	top: 30px;
	left: 50%;
	margin-left: -25px;
	opacity: 0.5;
		
}

#property-listing .step5 .photo-item .img-responsive{

	max-height: 150px;
	max-width: none;
}

#property-listing .step5 .photo-item-pane .progress{


	height: 8px;
	
	
}

#property-listing .step5 .photo-item-pane .system-link{


	position: absolute;
	padding: 4px 8px;
	top: 10px;
	right: 10px;
	width: 30px;
	margin: 0 auto;
	font-size: 18px;
	
	
}


#property-listing .step5 #photos-counter-pane{

	float: right;
	padding-top: 15px;
	padding-right: 10px;
	
}
/*/Step5*/

/*Step6*/

#property-listing-content.step6{

	padding-top: 30vh;	
	
}

#property-listing .table-bg{
	
	background-image: url('../img/bg-gray-overlay.png');
	padding-top: 40px;
	padding-bottom: 40px;
	
}


/* layout.css Style */
.upload-drop-zone {
  min-height: 200px;

  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {

  text-align: center;

 
}


.upload-drop-zone.drop {
  color: #fff;
  border-color: #222;
}

/*/Step6*/




/*Step6*/


#property-listing-content.step6{

	padding-top: 10vh;	
	
}

#property-listing .step6 .way-pane{

	position: relative;
	bottom: auto;
	left: auto;
	
}

#property-listing .step6 .table td{

	border-color: #bfc7c7;
	font-weight: 200;
	
}

#property-listing .step6 .table th{

	font-size: 13px;
	background-image: url('../img/white-bg-overlay.png');
	border: none;
	
}


#property-listing-content.step6 .table th{

	color: #222;
	font-weight: 400;
	
}


#property-listing-content.step6 .table{

	font-size: 13px;
	
}

/*/Step6*/

/*Step7*/

#property-listing-content.step7{

	padding-top: 30vh;	
	
}


/*/Step7*/


/*Step8*/

#property-listing .step8 .or-word-pane{
	
	position: absolute;
	left: -15px;
	top: 50px;
}

#property-listing .step8 .btn-group > .btn{

	background: transparent;
	position: relative;
	box-shadow: none !important;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 125px;
	height: 80px;
	
}

#property-listing .step8 .btn-group .btn::after{

	position: absolute;
	width: 75px;
	height: 75px;
	top: 50%;
	left: 50%;
	margin-left: -38px;
	margin-top: -38px;
	content: "";
    background-color: #fff;
    color: red;
    display: block;
    overflow: hidden;
    border-radius: 75px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    z-index: -1;
    opacity: 0.8;
    border: 1px solid #00c5b4;
	
	
}

#property-listing .step8 .btn-group .btn.active::after{

    background-color: #00c5b4;
    border: 2px solid #fff;
	
}



#property-listing .step8 label{

	
	
}

#property-listing-content.step8{

	padding-top: 10vh;	
	
}


#property-listing-content.step8 .way-pane{

	position: relative;
	bottom: auto;
	left: auto;
	
}

#property-listing .step8 .vertical-label{
	
	margin-top: 25px;
	margin-left: 0;
	padding-left: 0;
	
}

#property-listing .step8 .btn-round.btn-yellow{

	padding: 30px;
	background: #fec74f;
	 
}

#property-listing .step8 .btn-round.btn-yellow::after{

	background: #fec74f;
	width: 120px;
	height: 120px;
	margin-left: -60px;
	margin-top: -60px;
	border-radius: 120px;
	-moz-border-radius: 120px;
	-webkit-border-radius: 120px;
	border: 2px solid #fff;
	 
}

#property-listing .step8 .amentities-block{
	
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #bfc7c7;
	
}


#property-listing .step8 .property-item{

	position: relative;
    padding-left: 0;
    padding-bottom: 0;
	
}

#property-listing .step8 .bid-photo-pane {

    overflow: hidden;
    
    padding: 0;

}


#property-listing .step8 .bid-photo-pane .img-responsive{

	max-height: 330px;
	max-width: inherit !important;

}


#property-listing .step8 .property-details-pane{
	
	background-image: url('../img/bg-gray-overlay.png');
	padding: 20px;
	min-height: 330px;

}

#property-listing .step8 .additional-info{
	
	position: relative;
	
}

#property-listing .step8 .additional-info .block-item{
	
	position: relative;
	float: left;
	margin-right: 20px;
	
}

#property-listing .step8 .property-details-pane hr{
	
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	
	
}

#property-listing .step8 .additional-info .block-item img{
	
	margin-right: 10px;
	
}



#property-listing .step8 .price{
	
	font-size: 24px;
	color: #00ab9d;
	
}

#property-listing .step8 .btns-pane{
	
	position: relative;
	
}

#property-listing .step8 .btns-pane .system-link{
	

	position: relative;
	margin-right: 10px;
	display: inline-block;
	
	
}

#property-listing .step8 .btns-pane .system-link:{
}
	
#property-listing .step8 .vertical-label{
	
	/*margin-top: 5px;*/

}

#property-listing .commission-input{
	
	width: 40px;
    margin: 0 auto;
    outline: 0 !important;
    margin-top: 7px;
	
}

#property-listing .step8 .property-badge{


	
	
}

/*/Step8*/

/*Step9*/


#property-listing-content.step9{

	padding-top: 35vh;	
	
}

#property-listing-content.step9 a{

	color: #0a79d2;
	border-bottom: 1px solid #0a79d2;	
	
}

/*/Step9*/


/* ==========================================================================
   Mobile styles
   ========================================================================== */
/* Landscape phones and down */
@media (max-width: 480px) {

.bid-photo-pane .img-responsive{
	display: block !important;
    max-width: 100% !important;
    height: auto  !important;

}

#property-listing-content .way-pane .step-item span{
	
	font-size: 13px;

}

#property-listing-content .way-pane .step-item label{
	
	font-size: 12px;

}

}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

/* .navbar-fixed-top.open ----------- */

.bid-photo-pane .img-responsive{

	display: block !important;
    max-width: 100% !important;
    height: auto  !important;
 
}

}

/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

/* .navbar-fixed-top.open ----------- */


}
