#property-info-details{
	
/*	min-height: 700px;*/
	
}

#property-info-page > .navbar{
    
    top: 0;
    margin-top: 0;
    
}

#property-info-page{

    margin-top: 70px;
    
}

/* property-photos ***************************************************/

#property-photos > .container-fluid{

    padding-left: 0;
    padding-right: 0;
    
}

#property-photos .primary-photo-pane{


    overflow: hidden;

}



#property-photos .small-photos-pane .small-photo-pane{

    height: 14.063em;
    overflow: hidden;
    margin-top: -2px;
    cursor: pointer;
    
}

#property-photos .small-photos-pane .small-photo-pane img{

    max-height: 100%;
    max-width: inherit;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;

}

#property-photos .small-photos-pane .overlay-photos-number{

  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  color: #fff;
  font-size: 30px;
  text-shadow: 0px 0px 15px black;

}

#property-photos .small-photos-pane .small-photo-pane img:hover{

}

/* /property-photos ***************************************************/

/* similar-properties ***************************************************/

#similar-properties {
    background: #eff5f5;
}

/* /similar-properties ***************************************************/


/* property-info ***************************************************/

#property-info{



}


#property-info .additional-info{

	position: relative;
    float: left;
    padding-top: 12px;
    font-size: 13px;
    font-weight: 300;
	

}

#property-info .additional-info .fa{

	font-size: 12px !important;
	color: #00a395;
	

}

#property-info .icons-block{

    position: relative;
    border-top: 1px solid #e2e8e9;
    border-bottom: 1px solid #e2e8e9;
    padding-top: 10px;
    padding-bottom: 10px;

}

#property-info .icons-block .icon-pane{

    float: left;
    width: 20%;
}


#property-info .price-pane .text-label{
    
    font-size: 12px;
    margin-top: 10px;
    
}

#property-info .price-pane .price{
    
    letter-spacing: 2px;
    font-size: 36px;
    margin-bottom: 5px;
    
    
}


#property-info > .container-fluid{

    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #e2e8e9;
    
}

#property-info > .container-fluid > .row{

    margin-left: 0;
    margin-right: 0;
}



#property-info .title{
    
    color: #00a395;
    margin-top: 30px;
    
}

#property-info .title span{
    
	font-size: 13px;
    
}



.attend-row{
    
  cursor: pointer;
    
}


#open-house {
  
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#atdm{
  
    background: #eff5f5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
	z-index: 11;
	padding-top: 80px;
}

#open-house p{
  

  
}

#open-house .list-group{
  
  margin-bottom: 10px;
  
}

#open-house .attend-row .check-icon{
    
  display: none;
    
}

#open-house .attend-row.active .check-icon{
    
  display: inline;
    
}

#open-house .row > div{
    
  padding-left: 0;
    
}

#open-house .row .date{
    
    padding-top: 8px;
    
}


.add-attend-message,
#agent-note,
#open-house,
#advert-pane{

    background: #eff5f5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;

  -vendor-animation-duration: 0.5s;
  -vendor-animation-delay: 0;
  -vendor-animation-iteration-count: infinite;
  
}

#agent-pane{

    padding-top: 30px;
    padding-bottom: 50px;
    
}

#agent-pane .btns-pane button{
    
    width: 150px;
    
}

#property-info .gray-pane{
    
    height: 400px;
    position: relative;
    
}

#property-info .gray-pane .system-link{

    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 5;

}

#agent-pane .system-link{
    
    position: absolute;
    right: 0;
    top: 30px;
    
}

#agent-pane .avatar{
    
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    overflow: hidden;
    
}

#agent-pane .agent-name{
    
    font-size: 16px;
    color: #222;
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
}

#agent-pane .avatar img{
    
    display: block; 
    width: 100px;
    height: 100px;

    
}

#agent-info{

    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    background: transparent;
    z-index: 1;
    
}


#agent-info p{

    font-size: 12px;
    margin-top: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;

}

#agent-info p b{

    font-weight: 500;

}

#exclusive-bid-info{
  
    background: #eff5f5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    padding-left: 30px;
    padding-right: 30px;

  -vendor-animation-duration: 0.5s;
  -vendor-animation-delay: 0;
  -vendor-animation-iteration-count: infinite;
  
}

#exclusive-bid-info > hr{
  
  margin: 10px 0;
  border-color: #dde6e6;
  
}

#advert-pane{
	
	z-index: 10;
		
}
/* /property-info ***************************************************/

/* /map-pane ***************************************************/
#map-pane{
    
    border-top: 4px solid #d7e0e0;
    border-bottom: 4px solid #d7e0e0;
    
}

#map-container.extended{
    
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 5000px;
	height: 5000px;
    
}

#map-pane .container-fluid,
#map-pane #map-container{
    
    height: 450px;
    
}

#property-info-details .nav.nav-pills{

    text-align: left;

}

.amentities-block{
 
    border-top: 1px solid #dce6e6;
    padding-top: 10px;
    padding-bottom: 10px;
 
 }
 
 .amentities-block .user-note{
 
   width: 100%;
   padding: 5px 10px;
   font-size: 12px;
   margin-top: 10px;
   margin-bottom: 10px;
   
 }
 
 .amentities-block > div:first-child{
 
     color: #787878;

 
 }
 

 
 #property-info .gray-line{
     
     position: absolute;
     left: 0;
     top: 250px;
     width: 50%;
     border-bottom: 1px solid #dce6e6;
 }
 
#property-info .company-logo-pane{
     
     width: 100%;
     height: 60px;
     position: relative;
     margin: 0 auto;
     
 }
 
 #property-info .company-logo-pane img{
     
     max-height: 60px;
     vertical-align: top;
     
 }
 
 #property-photos .property-badge{
     
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #222;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    z-index: 1;

 }

#property-item-carousel{

  overflow: hidden;

  
}

#property-item-carousel .fa{
  
  font-size: 36px;
  top: 50%;
  position: absolute;
  margin-top: -10px;
  
}

.attend-message-input{
	
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fff;
    border: none;
    padding: 10px;
    width: 100%;

  
}

#atdm .btn{

	float: right;
	
}


.add-attend-message > .system-link{
  

  
}

.add-attend-message textarea{
  display: inline;
}

.add-attend-message > button{
  display: block;
  float: left;
  margin-left: 5px;
}

.list-group-item.attend-row{

  background: transparent;
  
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 1px solid #dde6e6;
  
  border-right: 0;
  border-left: 0;
  
  padding-left: 0;
  padding-right: 0;
  
  padding-top: 10px;
  padding-bottom: 10px;
  

}

.list-group-item.attend-row > .system-link{

  top: 0 !important;
  right: 0 !important;
      position: relative !important;
    display: inline;
    margin-left: 10px;
    display: none;
    

}

.list-group-item.attend-row.active > .system-link{


    display: inline;
    

}

.list-group-item.attend-row > button{

  position: absolute;
  right: 0;
  top: 3px;


}

.list-group-item.active.attend-row{

  background: transparent;
  border: 1px solid #dde6e6;
  border-left: none;
  border-right: none;
  color: #222;

}

.list-group-item.active.attend-row:hover,
.list-group-item.attend-row:hover,
.list-group-item.attend-row:focus,
.list-group-item.active.attend-row:focus,
.list-group-item.active.attend-row{

  background: transparent;
  border: 1px solid #dde6e6;
  border-left: none;
  border-right: none;
  color: #222;

}

.small-photos-pane{

  display: none;

}


#property-item-carousel .img-responsive{
 
    display: block;
    max-width: 100%;
    height: auto;
}

#social-icons-pane{

  position: absolute;
  overflow: hidden;
  bottom: 10px;
  left: 50%;
  margin-left: -60px;
 
}

#social-icons-pane .social-icon img{

  width: 24px;
  height: 24px;
 
}


#property-info-details table td{
  
  font-size: 13px;
  
}

#send-message-to-agent{
  

  
}

#send-message-to-agent .system-link{
  
 
  
}

#register-interest{
  

  
}

#register-interest textarea{
  
  background-color: #eff5f5;
  border: none;
  padding: 10px;
  width: 100%;

}

#send-message-to-agent textarea{
  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #eff5f5;
  border: none;
  padding: 10px;
  width: 100%;
  
}

#register-interest .system-link{
  

  
}

.user-note{
 
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #eff5f5;
  border: none;
  padding: 10px;
  width: 80%;
  
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
  

#property-item-carousel .img-responsive{
 
    display: block;
    max-width: 100%;
    height: auto;
}  
  
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

.small-photos-pane{

  display: none;

}

#property-item-carousel .img-responsive{
 
    display: block;
    max-width: 100%;
    height: auto;
}

}

/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

.small-photos-pane{

  display: block;

}

#property-item-carousel {
    overflow: hidden;
    height: 28.126em;
}
  
}

/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {

.small-photos-pane{

  display: block;

}

#property-item-carousel {
    overflow: hidden;
    height: 28.126em;
}
  
#property-item-carousel .img-responsive{
 
    display: block;
    max-width: 100%;
    height: auto;
}


}
