a {
  outline:none
}
#map-container {
    padding-top: 70px;
}

#search-result-page>.navbar {
    top: 0 !important;
    margin-top: 0;
}

#search-result-main-section {
    height: 100vh;
}

#search-result-main-section>.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#search-result-main-section>.container-fluid, #search-result-main-section>.container-fluid>.row, #search-result-main-section>.container-fluid>.row>[class*='col-'] {
    height: 100%;
}

#search-result-main-section .search-resul-list-pane {
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
}

.search-resul-list-pane .property-item {
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;
    min-height: 124px;
    padding-top: 0;
    -webkit-box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.25);
}

#search-result-container {
    z-index: 0;
    -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.25);
		margin-top: 56px
}

.search-resul-list-pane .property-item .property-badge {
    font-size: 0.7em;
}

.search-resul-list-pane .property-item .photo-block {
    position: relative;
    margin-left: 0;
}

.search-resul-list-pane .property-item .body {
    padding: 10px 20px;
}

.search-resul-list-pane .property-item .title {
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: none;
    color: #171717;
    font-weight: normal;
}
.search-resul-list-pane .property-item .location p {
    color: #777575;
    font-size: 11px;
    line-height: 14px
}
.search-resul-list-pane .additional-info .block-item {
    position: relative;
    float: left;
    margin-right: 10px;
    font-size: 10px;
    color: #9e9d9e
}

.search-resul-list-pane .additional-info .block-item img {
    margin-right: 5px;
}
.property-item .text-xxs {
    font-size: 18px;
    color: #6b6b6b
}
.property-search-pane {
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    height: auto !important;
    z-index: 1;
    background: #fff;
    border-bottom: 1px solid #7fe2d9
}

.search-result-pane {
    position: absolute;
    top: 70px;
    right: 5px;
    left: 10px;
    height: 70px;
}
.search-result-pane h4 {
    font-size: 18px;
    color: #3a3a3a
}
.search-result-pane h4 span {
    color: #04a092
}
.search-result-pane .dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
}

.property-legend-pane {
    float: none;
    position: relative;
    font-size: 12px;
}

.property-legend-pane img {
    height: 12px;
    margin-right: 5px;
}

#main-profile-pane {
    margin-top: 70px;
}

#profile-page .system-link {
    position: absolute;
    top: 20px;
    right: 0;
}

#profile-page section {
    position: relative;
}

.list-group-item {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.list-group-item {
    border-width: 0;
    border-bottom-width: 1px;
    background: transparent;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.my-blog-posts-list .date {
    color: #787878;
    padding-right: 100px;
    display: inline;
}

.my-blog-posts-list .system-link {
    position: relative !important;
    font-size: 11px;
    float: right;
    top: auto !important;
}

.property-search-pane .filter-block {
    float: left;
    margin-right: 5px;
    font-size: 13px;
    padding-top: 5px;
    padding-left: 5px;
}

.property-search-pane hr {
    margin: 0;
}

.property-search-pane .block-part {
    float: left;
    margin-right: 5px;
    font-size: 13px;
}

.property-search-pane .filter-block-header {
    font-size: 9px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.property-search-pane .filter-block.min-max-price .block-part .body {
    width: 100px;
}

.property-search-pane .filter-block-clr.clr {
    display: none;
}

.property-search-pane .form-control {
    font-size: 12px;
}

.property-search-pane .block-row {
    padding-left: 20px;
    position: relative;
    width: 100%;
    padding-top: 10px;
}

.property-search-pane .block-row .main-search-input {
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-border-shadow: none;
    z-index: 1;
}

.property-search-pane .block-row .main-search-input-pane {
    margin-right: 10px;
    float: left;
    width: 100%;
		border:1px solid #d0ece0
}

.main-search-input-pane .form-control::-moz-placeholder {
  color: #ababab;
  opacity: 1;
	font-size: 12px
}
.main-search-input-pane .form-control:-ms-input-placeholder {
  color: #ababab;
	font-size: 12px
}
.main-search-input-pane .form-control::-webkit-input-placeholder {
  color: #ababab;
	font-size: 12px
}

.property-search-pane .block-row .main-search-input-pane .magnifier {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    z-index: 2;
}

.property-search-pane .main-search-rent-sale-pane {
    float: left;
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 5px;
}

.property-search-pane>.block-row {}

.property-search-pane .reset-filter-btn {
    background: none;
    font-size: 11px;
    text-transform: none;
    padding: 0;
}

.property-search-pane .filter-pane {
    border-top: 1px solid #e5e5e5;
    padding-left: 10px;
    padding-right: 30px;
}

.property-search-pane .find-btn-pane {
    margin-top: -5px;
}

.map-dynamic-pane {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    background: #fff;
    padding: 0 15px;
    font-size: 12px;
    color: #787878;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

#profile-page .map-popup {}

#profile-page .map-popup .map-popup-photo {
    float: left;
    margin-right: 10px;
    font-size: 12px;
}

#profile-page .map-popup .body {
    float: left;
    margin-right: 10px;
}

.yotcha-filter {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -5px;
    color: #2fbbaf;
    font-size: 18px;
}
.navigation {
  float:right;
  width: 100%;
  position: relative;
}
.navigation ul {
  margin:0
}
.navigation ul li {
  list-style: none;
  padding-bottom: 8px
}
.navigation ul.first-nav {
  position: absolute;
  right:20px
}
.navigation ul.second-nav {
  position: absolute;
  right:20px;
  top: 200px
}
.navigation ul.third-nav {
  position: absolute;
  right:20px;
  top: 400px
}
.navigation-bar {
  margin-top: 60px
}
.search-block {
  width: 158px;
  height: 26px;
  background: #fff;
  border-radius: 4px;
  padding-left: 6px;
  margin-left: 20px
}
.search-block input.check-box {
  float: left;
  margin-right: 4px;
  margin-top: 5px
}
.search-block p {
  font-size: 10px;
  color: #656565;
  margin: 0;
  line-height: 26px;
}
.search-by {
  width: 292px;
  height: 26px;
  background: #fff;
  border-radius: 4px;
  padding-left: 6px;
  margin-left: 20px
}
.search-by ul {
  margin: 0;
  padding: 0;
}
.search-by ul li {
    float:left;
    display: inline;
    font-size: 10px;
    color: #656565;
    line-height: 26px;
    padding: 0 4px;
}
.search-by ul li a {
  font-size: 10px;
  color: #656565;
  margin: 0;
  font-weight: bold;
}
.search-by ul li a.active {
  color: #00c5b4
}
.lang-cu button {
  font-size: 10px;
  color: #656565;
  margin: 0;
  height: 26px;
  text-transform: none;
  font-family: 'Open-Sans', sans-serif;
  letter-spacing: 0
}
.navigation-bar .col-md-5, .navigation-bar .col-md-4 {
  padding-left: 0!important
}
.search-nav ul.navbar-nav li a {
  padding-top: 15px!important;
  padding-bottom: 15px!important;
  line-height: 25px
}
.property-search-pane .navbar-default {
  background: none;
  margin-left: 12px
}
.search-nav .navbar-nav li.active, .search-nav .navbar-nav li:hover {
  background: #7fe2d9
}
.search-nav .navbar-nav li:hover a {
  background: #7fe2d9;
}
.search-nav .navbar-nav li {
  text-align: center;
  line-height: 12px;
  height: 54px;
  border-right: 1px solid #d0ece0;
  padding: 0 14px
}
.search-nav .navbar-nav li a small {
  font-size: 10px;
  text-transform: none
}
.nav-lbl {
  float: left;
  width: 100%;
  line-height: 14px
}
.search-nav .navbar-nav a {
  border: 0!important
}
.search-nav .navbar-nav a:hover {
  border: 0!important
}
.search-btn .btn-default {
  background: #00c5b4;
  font-size: 14px;
  color: #ffffff;
  text-transform: none;
  font-weight: normal;
  margin-top: 10px;
  letter-spacing: 0
}
.search-btn .btn-default:hover {
  background: #00c5b4!important;
  font-size: 14px;
  color: #ffffff;
  box-shadow: 0 0 0 #fff
}
.search-btn .btn {
  padding: 6px 16px
}
.main-search-input-pane .input-group-addon {
  color: #ababab;
	font-size: 12px;
  background: none;
  border: none;
  border-left: 1px solid #d0ece0
}
.search-result-pane p {
  font-size: 12px;
  color: #716f6f;
  text-transform: none
}
.search-result-pane p span.caret {
  color: #716f6f
}
.search-result-pane p span {
  color: #04a092;
}
.search-result-pane .btn.btn-white.dropdown-toggle {
  box-shadow:inset 0 0 0 #fff!important
}
.property-legend-pane span {
  color: #c9c9c9;
  padding-right: 12px
}
.lft-block {
  position: absolute;
  left:10px;
  top: 10px
}
.lft-block ul {
  margin: 0;
  padding: 0
}
.lft-block ul li {
  float: left;
  display: inline;
  list-style: none;
  padding: 0 4px
}
.lft-block ul li:first-child {
  padding-left: 0
}
.rt-block {
  position: absolute;
  right: 10px;
  top: 10px
}
.property-search-pane ul.dropdown-menu li {
  text-align: left;
  height: auto;
}
.property-search-pane ul.dropdown-menu li:hover {
  background: red!important
}
.property-search-pane ul.dropdown-menu li a {
  color: #656565;
  font-size: 12px;
  padding:0;
  padding-top: 4px!important;
  padding-bottom: 4px!important;
  text-transform: none
}
#map-container .modal-content {
  width: 220px;
  border-radius: 6px
}
.school-content ul {
  margin: 0;
  padding: 0
}
.school-content ul li {
  color: #656565;
  font-size: 12px
}
.school-content h1 {
  font-size: 12px;
  color: #656565;
  text-transform: none;
  font-weight: normal;
  font-family: 'Open-Sans', sans-serif;
  margin: 0;
  border-bottom: 1px solid #acacac;
  line-height: 24px;
  padding-bottom: 8px;
  margin-bottom: 8px
}
.school-rating h1 {
  font-weight: bold;
}
