* {
  margin:0;
  padding:0;
}
a {
  outline: none!important
}
body {
  background:#eceef3!important
}
.navbar {
  border: 3px solid rgba(0, 0, 0, 0);
  background: #00c5b4!important;
  margin: auto;
  padding-top: 22px;
  padding-left: 2px;
  position: fixed;
  min-height: 70px!important;
  top: -70px;
  transition: top 0.4s ease 0s;
  z-index: 100;
  border: 0!important
}
.navbar-fixed-top .logo {
    left: 0;
    position: relative;
    margin-left: 0;
    vertical-align: middle;
}
@font-face {
    font-family: 'nerissemibold';
    src: url('Neris-SemiBold-webfont.eot');
    src: url('Neris-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Neris-SemiBold-webfont.woff') format('woff'),
         url('Neris-SemiBold-webfont.ttf') format('truetype'),
         url('Neris-SemiBold-webfont.svg#nerissemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('OpenSans-Italic-webfont.eot');
    src: url('OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Italic-webfont.woff') format('woff'),
         url('OpenSans-Italic-webfont.ttf') format('truetype'),
         url('OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold-webfont.woff') format('woff'),
         url('OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
.calendar-page {
  margin-top: 80px
}
.calendar-page table tr th {
  padding:0!important;
  vertical-align: middle!important;
  text-align:center;
  font-family:nerissemibold;
  font-size:20px;
  color:#a1a1a1;
  font-weight: normal;
  width: 14.28%
}
.calendar-page table tr th span {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background:#00c5b4;
  border:1px solid #979797;
  border-left:0!important;
  float:left;
  width: 100%;
  padding: 12px;
  color: #fff
}
.calendar-page table tr th:first-child span {
  border-left:1px solid #979797!important;
}
.calendar-page table tr td {
  padding:0!important;
}
.art-layer {
  border:1px solid #979797;
  background:#ffffff;
  font-family:nerissemibold;
  font-size:32px;
  color:#a1a1a1;
  padding:0 8px;
  min-height: 112px;
  border-top: 0;
  border-left:0;
  text-align: right;
}
.calendar-page table tr td:first-child .art-layer {
  border-left:1px solid #979797!important
}
ul.first-top, ul.second-top {
  margin: 0;
  padding: 0;
  padding-top: 8px
}
ul.first-top li {
  list-style: none;
  border-left:4px solid #00a395;
  line-height: 4px;
  padding-left:8px;
  margin-bottom: 4px;
  text-align: left
}
ul.first-top h2, ul.second-top h2 {
  margin: 0;
  padding: 0;
  margin-top: 8px;
  font-size: 18px
}
ul.second-top li {
  list-style: none;
  border-left:4px solid #ffcf68;
  line-height: 4px;
  padding-left:8px;
  text-align:left
}
ul.first-top li span, ul.second-top li span {
  font-family:'nerissemibold';
  font-size:16px;
  color:#444444;
  text-align:center;
}
ul.first-top h2 span, ul.second-top h2 span {
  font-family:'open_sanslight';
  font-size:12px;
  color:#a1a1a1;
  padding-left: 6px
}
.calendar-page .col-md-12 h2.display-view {
  font-family:open_sanslight;
  font-size:18px;
  color:#444444;
  margin: 0;
  padding-top: 3px;
  float: right;
  margin-top: 14px
}
.calendar-page h1 {
  font-family:'nerissemibold';
  font-size:36px;
  color:#444444;
  text-align: center;
}
.calendar-page .col-md-12 ul.top-menu {
  padding-left: 12px;
  float: right;
  margin-top: 14px
}
.calendar-page .col-md-12 ul.top-menu li {
  display: inline;
  font-family:'nerissemibold';
  font-size:18px;
  color:#4a4a4a;
  padding-left: 12px
}
.calendar-page .col-md-12 ul.top-menu li:first-child {
  padding-left: 0
}
.calendar-page .col-md-12 ul.top-menu li.active {
  border-bottom: 2px solid #979797
}
.calendar-page .col-md-12 ul.top-menu li:hover {
  border-bottom: 2px solid #979797;
  cursor: pointer;
}
ul.month-date {
  margin: 0;
  padding: 0;
  margin-bottom: 12px
}
ul.month-date li {
  display: inline;
  list-style: none;
  font-family:'nerissemibold';
  font-size:34px;
  color:#00a395;
  padding: 0 8px;
  vertical-align: middle;
}
.btn-add {
  background:#00c5b4!important;
  border:1px solid #00c5b4!important;
  border-radius:6px;
  width:166px;
  height:42px;
  font-family:'nerissemibold';
  font-size:20px!important;
  color:#ffffff;
  text-align:center;
  text-transform: uppercase;
}
.calendar-page .col-md-12 {
  float: left;
  width: 100%
}
.disabled-layer {
  background:#f3f4f8;
  color: #acadb1
}
.cal-tbl {
  position: relative;
}
.table-preview {
}
.table-preview h1 {
  font-family:'nerissemibold';
  font-size:16px;
  color:#444444;
  text-transform: uppercase;
  text-align: left;
  margin-top: 0;
}
.table-preview label {
  font-family:open_sanslight;
  font-size:12px;
  color:#444444;
  font-weight: normal
}
.table-preview .col-md-8 {
  padding-left: 0
}
.table-preview .top-inner {
  width:100px;
  height:67px;
  background:#ffcf68;
  vertical-align: middle;
  text-align: center;
}
.table-preview .bottom-inner {
  border-top:0;
  width:100px;
  height:44px;
  background:#00c5b4;
  vertical-align: middle;
  text-align: center;
  font-family:open_sanslight;
  font-size:12px;
  color:#fff;
  text-transform: uppercase;
}
.table-preview .single-label {
  line-height: 44px
}
.calendar-page .table-preview tr td {
  background:#ffffff;
  border:1px solid #979797;
  border-top:0;
  padding: 12px 24px!important
}
.cat-tbl {
  position:relative;
}
.single-number {
  font-size: 32px;
  line-height: 67px
}
.inner-tbl {
  position: absolute!important;
  top: 15%;
  right:15%
}
.table-preview tr th span {
  color:#00a395
}
.art-layer .col-md-10, .art-layer .col-md-2 {
  padding-left:0;
  padding-right: 0
}
.art-layer .col-md-2 {
  color:#a1a1a1
}
@media only screen and (max-width: 991px) {
	.calendar-page .col-md-2 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 16px
  }
}
@media only screen and (max-width: 465px) {
	.calendar-page .col-md-12 ul.top-menu {
    padding-left: 0
  }
}
