* {
	margin: 0;
	padding: 0
}
a {
	outline: none
}
.note-block {
	width: 100%;
	margin: 0 auto;
}
.step-header {
	background:#55c5bb
}
.step-header .text-center img {
  margin:0 auto;
}
.step-content {
  background:url(../images/transparent-bg.png) repeat;
  float:left;
  width: 100%
}
@font-face {
    font-family: 'nerissemibold';
    src: url('Neris-SemiBold-webfont.eot');
    src: url('Neris-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Neris-SemiBold-webfont.woff') format('woff'),
         url('Neris-SemiBold-webfont.ttf') format('truetype'),
         url('Neris-SemiBold-webfont.svg#nerissemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('OpenSans-Italic-webfont.eot');
    src: url('OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Italic-webfont.woff') format('woff'),
         url('OpenSans-Italic-webfont.ttf') format('truetype'),
         url('OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold-webfont.woff') format('woff'),
         url('OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
.step-content h1 {
	font-family: 'nerissemibold';
	font-size: 42px;
	color: #083837;
  margin-top: 0;
  padding-top: 45px;
  text-shadow: 1px 1px 2px rgba(255, 255, 190, 1);
}
.content-inner {
	float:left;
	width: 100%
}
.step-content ul.steps-content {
	width: 60%;
	padding-bottom:108px;
	margin: 50px auto;
}

.step-content ul.steps-content .steps-li {
	background:#fff;
	float: left;
	width: 100%;
	text-align:left;
	padding:18px;
	border-radius: 2px;
	margin-bottom: 1px;
	list-style: none;
	font-family: 'open_sanssemibold';
	font-size: 18px;
	color: #557f7d;
	text-transform: uppercase;
	line-height: 38px
}
.step-content ul.steps-content .steps-li .col-md-1 img {
	padding-top: 6px
}
.step-content ul.steps-content .steps-li:first-child {
	line-height: 38px
}
.step-content ul.steps-content .steps-li:first-child .col-md-1 img {
	padding-top: 0
}
.step-content ul.steps-content .steps-li-1:first-child .col-md-1 img {
	padding-top: 6px
}
#slider-next .bx-next {
  background:#56c7bb;
  border:1px solid #56c7bb!important;
  font-family: 'nerissemibold'!important;
  font-size: 30px!important;
  color: #fff!important;
  border-radius: 50px!important;
  padding: 20px 0 !important;
  text-decoration: none
}
#slider-next .bx-next:hover {
  background:#4dbaae;
  border:1px solid #4dbaae!important;
  text-decoration: none
}
.btn-yes {
  background:#56c7bb!important;
  border:1px solid #56c7bb!important;
  font-family: 'nerissemibold'!important;
  font-size: 30px!important;
  color: #fff!important;
  text-align: center;
  border-radius: 50%!important;
  padding: 40px!important;
  margin-bottom: 204px!important;
	float: right;
}
.btn-yes:hover {
  background: #4dbaae!important;
  border:1px solid #4dbaae!important;
}
.btn-no {
  background:#e94a40!important;
  border:1px solid #e94a40!important;
  font-family: 'nerissemibold'!important;
  font-size: 30px!important;
  color: #fff!important;
  text-align: center;
  border-radius: 50%!important;
  padding: 40px!important;
	float:left;
}
.btn-no:hover {
  background: #d83f35!important;
  border:1px solid #d83f35!important;
}
#slider-next {
	width: 100%;
	margin: 0 auto;
	float: left;
}
#slider-next .bx-next {
	display: block;
	width: 30%;
	text-align: center;
	margin: 34px auto;
	outline: none
}
.step-2 .btn-default {
		border-radius: 50px!important;
		padding:10px 0!important;
		background:#fff;
		border:4px solid #2fbbaf;
		margin-top:32px;
		width:30%;
		font-family: 'nerissemibold' !important;
		font-size: 30px !important;
		color: #4f4c4d !important;
}
.step-2 .btn-default:hover {
	font-family: 'nerissemibold' !important;
	font-size: 30px !important;
	color: #fff !important;
	background:#2fbbaf!important;
	border:4px solid #2fbbaf!important
}
.small-label {
	font-size: 18px;
	font-family: 'open_sansregular';
	color: #4d5151;
  margin-top: 0;
  padding-top: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 190, 1);
}
.step-3 textarea {
	width: 50%;
	margin: 0 auto;
	margin-top: 40px;
	background: #fff;
  border:4px solid #2fbbaf;
	border-radius: 0
}
.step-4 input {
	width: 50%;
	margin: 0 auto;
	margin-top: 40px;
	background: #fff;
  border:4px solid #2fbbaf;
	border-radius: 0;
	height: 60px;
}
.small-label-1 {
	font-size: 14px;
	font-family: 'open_sansregular';
	color: #4d5151;
  margin-top: 0;
  padding-top: 8px;
  text-shadow: 1px 1px 2px rgba(255, 255, 190, 1);
	float:left;
	width: 100%
}
#slider-next .disabled {
	display: none!important
}
.step-4 .label-info {
	background:#55c5bb!important;
	font-weight: normal;
}
h1.first-title  {
	padding-bottom: 108px
}
.last-survey {
	padding-top: 140px!important
}
#slider-prev {
	float:left;
	width: 100%;
	text-align: left;
	padding-top: 20px;
	padding-left: 5%

}
#slider-prev .bx-prev {
	font-size: 16px;
	color: #083837;
	text-shadow: 1px 1px 2px rgba(255, 255, 190, 1);
	float: left;
	width: 100%;
	outline: none!important
}

#slider-1 .bx-next {
  background:#56c7bb;
  border:1px solid #56c7bb!important;
  font-family: 'nerissemibold'!important;
  font-size: 30px!important;
  color: #fff!important;
  border-radius: 50px!important;
  padding: 20px 0 !important;
  text-decoration: none
}

.slide {
	background: #56c7bb;
	border: 1px solid #56c7bb !important;
	font-family: 'nerissemibold' !important;
	font-size: 30px !important;
	color: #fff !important;
	border-radius: 50px !important;
	padding: 10px 0 !important;
	text-decoration: none;
	display: block;
	width: 30%;
	text-align: center;
	margin: 34px auto;
}
.slide:hover {
	text-decoration: none;
}
.back {
	padding-left: 5%;
	color: #fff
}
.back:hover {
	color: #fff
}
@media only screen and (max-width: 1199px) {
 .step-content ul.steps-content .steps-li:first-child .col-md-1 img {
		padding-top:8px
	}
 .step-content ul.steps-content .steps-li .col-md-1 img {
		padding-top: 12px
	}
}
@media only screen and (max-width: 991px) {
  .btn-yes, .btn-no {
		float:none!important;
		margin-bottom: 20px!important;
		width: 100%
	}
	.bx-wrapper img {
		margin:0 auto;
	}
	.step-content ul.steps-content .steps-li {
		text-align: center;
	}
	.webwidget_rating_simple {
		padding-left: 25%!important
	}
	.step-3 textarea, .step-4 input {
		width: 80%!important
	}
}
@media only screen and (max-width: 480px) {
	.webwidget_rating_simple {
		padding-left: 5%!important
	}
}
