* {
	margin: 0;
	padding: 0
}
.category {
	cursor: pointer;
	float:left;
	width: 100%
}
.category h1 {
	font-size: 24px;
	color:#333;
	padding-left: 60px;
	vertical-align: middle;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px
}
.sub-category {
	height:45px;
	cursor: pointer;
	float:left;
	width: 100%;
	line-height: 0
}
.sub-category h2 {
	font-size: 18px;
	color:#2a9ed7;
	padding-left: 100px;
	vertical-align: middle;
	color: #666;
	margin-top: 10px;
	margin-bottom: 0
}
.sub-category h2 label {
	font-size: 18px;
	color:#2a9ed7;
	vertical-align: middle;
	color: #666;
	font-weight: bold;
}
.sub-category span {
	font-size: 14px;
	color:#4ec3cd;
	padding-left: 100px;
	vertical-align: middle;
}
.sub-category:hover h2, .sub-category:hover label, .sub-category:hover span {
	color: #fff
}
.category-1 {
	background:url(../images/icons/category-1.png) no-repeat;
}
.category-2 {
	background:url(../images/icons/category-2.png) no-repeat;
}
.category-3 {
	background:url(../images/icons/category-3.png) no-repeat;
}
.category-4 {
	background:url(../images/icons/category-4.png) no-repeat;
}
.category-5 {
	background:url(../images/icons/category-5.png) no-repeat;
}
.category-6 {
	background:url(../images/icons/category-6.png) no-repeat;
}
.category-7 {
	background:url(../images/icons/category-7.png) no-repeat;
}
.category-8 {
	background:url(../images/icons/category-8.png) no-repeat;
}
.sub-category-1 {
	background:url(../images/icons/sub-cat-1.png) no-repeat 50px 0;
	height:60px
}
.sub-category-1:hover {
	background:#4ec3cd url(../images/icons/sub-cat-1-hover.png) no-repeat 50px 0;
	height:60px
}
.sub-category-2 {
	background:url(../images/icons/sub-cat-2.png) no-repeat 50px 0;
	height:60px
}
.sub-category-2:hover {
	background:#4ec3cd url(../images/icons/sub-cat-2-hover.png) no-repeat 50px 0;
	height:60px
}
.sub-category-3 {
	background:url(../images/icons/sub-cat-3.png) no-repeat 50px 0;
	height:60px
}
.sub-category-3:hover {
	background:#4ec3cd url(../images/icons/sub-cat-3-hover.png) no-repeat 50px 0;
	height:60px
}
.sub-category-4 {
	background:url(../images/icons/sub-cat-4.png) no-repeat 50px 0;
	height:60px
}
.sub-category-4:hover {
	background:#4ec3cd url(../images/icons/sub-cat-4-hover.png) no-repeat 50px 0;
	height:60px
}
.sub-category-5 {
	background:url(../images/icons/sub-cat-5.png) no-repeat 50px 0;
	height:60px
}
.sub-category-5:hover {
	background:#4ec3cd url(../images/icons/sub-cat-5-hover.png) no-repeat 50px 0;
	height:60px
}
.sub-category-6 {
	background:url(../images/icons/sub-cat-6.png) no-repeat 50px 0;
	height:60px
}
.sub-category-6:hover {
	background:#4ec3cd url(../images/icons/sub-cat-6-hover.png) no-repeat 50px 0;
	height:60px
}
.sub-category-7 {
	background:url(../images/icons/sub-cat-7.png) no-repeat 50px 0;
	height:60px
}
.sub-category-7:hover {
	background:#4ec3cd url(../images/icons/sub-cat-7-hover.png) no-repeat 50px 0;
	height:60px
}
.sub-category-8 {
	background:url(../images/icons/sub-cat-8.png) no-repeat 50px 0;
	height:60px
}
.sub-category-8:hover {
	background:#4ec3cd url(../images/icons/sub-cat-8-hover.png) no-repeat 50px 0;
	height:60px
}
.sub-category-9 {
	background:url(../images/icons/sub-cat-9.png) no-repeat 50px 0;
	height:60px
}
.sub-category-9:hover {
	background:#4ec3cd url(../images/icons/sub-cat-9-hover.png) no-repeat 50px 0;
	height:60px
}
.sub-category-10 {
	background:url(../images/icons/sub-cat-10.png) no-repeat 50px 0;
	height:60px
}
.sub-category-10:hover {
	background:#4ec3cd url(../images/icons/sub-cat-10-hover.png) no-repeat 50px 0;
	height:60px
}
.sub-category-11 {
	background:url(../images/icons/sub-cat-11.png) no-repeat 50px 0;
	height:60px
}
.sub-category-11:hover {
	background:#4ec3cd url(../images/icons/sub-cat-11-hover.png) no-repeat 50px 0;
	height:60px
}
