* {
	margin: 0;
	padding: 0
}
.search-box {
	background:#fff;
	width: 100%;
	margin: 0 auto;
}
.heading {
	font-family:Arial;
	font-size: 24px;
	font-weight: bold;
	color: #319cd7;
}
.search-box table tr td {
	vertical-align: middle!important;
	border: 0!important
}
.search-box table tr td h1 {
	margin: 0;
	text-transform: uppercase;
}
.tt-dataset-states ul li:hover {
	background:#98cdeb
}
.tt-dataset-states ul li {
	list-style: none;
	padding-left: 5%
}


.tt-dataset-states ul li.area .main-label a {
	background:url(../images/plan-area.png) no-repeat;
	padding:0 42px;
	font-size: 24px;
	color: #666666;
	text-transform: none;
	line-height: 32px;
	width: 100%;
	float: left;
}
.tt-dataset-states ul li.area .main-label a span.small {
	color: #666;
	float:left;
	width: 100%;
	font-size: 14px;
	line-height: 18px
}
.tt-dataset-states ul li.area:hover .main-label a {
	background:url(../images/plan-area-hover.png) no-repeat;
	text-decoration: none;
	color: #fff;
}
.tt-dataset-states ul li.area:hover .main-label a span.small {
	color: #379fd8;
}

/*====North====*/
.tt-dataset-states ul li.north .main-label a, .tt-dataset-states ul li.south .main-label a {
	background:url(../images/north.png) no-repeat;
	padding:0 42px;
	font-size: 24px;
	color: #666666;
	text-transform: none;
	line-height: 32px;
	width: 100%;
	float: left;
}
.tt-dataset-states ul li.north .main-label a span.small, .tt-dataset-states ul li.south .main-label a span.small {
	color: #666;
	float:left;
	width: 100%;
	font-size: 14px;
	line-height: 18px
}
.tt-dataset-states ul li.north:hover .main-label a, .tt-dataset-states ul li.south:hover .main-label a {
	background:url(../images/north-hover.png) no-repeat;
	text-decoration: none;
	color: #fff;
}
.tt-dataset-states ul li.north:hover .main-label a span.small, .tt-dataset-states ul li.south:hover .main-label a span.small {
	color: #379fd8;
}
/*====ParkView====*/
.tt-dataset-states ul li.parkview .main-label a {
	background:url(../images/parkview.png) no-repeat;
	padding:0 42px;
	font-size: 24px;
	color: #666666;
	text-transform: none;
	line-height: 32px;
	width: 100%;
	float: left;
}
.tt-dataset-states ul li.parkview .main-label a span.small {
	color: #666;
	float:left;
	width: 100%;
	font-size: 14px;
	line-height: 18px
}
.tt-dataset-states ul li.parkview:hover .main-label a {
	background:url(../images/parkview-hover.png) no-repeat;
	text-decoration: none;
	color: #fff;
}
.tt-dataset-states ul li.parkview:hover .main-label a span.small {
	color: #379fd8;
}
